<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field class="mat-block" subscriptSizing="dynamic">
  <mat-label translate>javascript.javascript-type</mat-label>
  <mat-select [ngModel]="entitiesTableConfig.componentsData.resourceSubType"
              (ngModelChange)="jsResourceSubTypeChanged($event)"
              placeholder="{{ 'javascript.javascript-type' | translate }}">
    <mat-option value="">
      {{ "javascript.all-types" | translate }}
    </mat-option>
    <mat-option *ngFor="let jsResourceSubType of jsResourceSubTypes" [value]="jsResourceSubType">
      {{ resourceSubTypesTranslationMap.get(jsResourceSubType) | translate }}
    </mat-option>
  </mat-select>
</mat-form-field>
