<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
@if (entity && entity.tenantId.id !== NULL_UUID && ([resource.VERSION_CONTROL, resource.TB_RESOURCE] | hasGenericPermission: operation.READ) && !isEdit) {
  <mat-tab
    label="{{ 'version-control.version-control' | translate }}" #versionControlTab="matTab">
    <tb-version-control detailsMode="true" singleEntityMode="true"
                        (versionRestored)="entitiesTableConfig.updateData()"
    [active]="versionControlTab.isActive" [entityId]="entity.id" [entityName]="entity.name" [externalEntityId]="entity.externalId || entity.id"></tb-version-control>
  </mat-tab>
}
