<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
<mat-toolbar color="tb-primary" class="tb-bottom-border">
  <h2 translate>{{ dialogTitle }}</h2>
  <span class="flex-1"></span>
  <button mat-icon-button
    (click)="close()"
    type="button">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
  <section class="tb-form-panel no-padding no-border">
    <div class="tb-form-panel no-padding no-border">
      <mat-tab-group [(selectedIndex)]="tabIndex" (selectedTabChange)="selectedTabChange(tabIndex)">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tabs-icon">smart_toy</mat-icon>
            {{ 'agent.deploy-via-agent' | translate }}
          </ng-template>
          <ng-template matTabContent>
            <div class="tb-agent-tab-desc">
              <mat-icon>auto_awesome</mat-icon>
              <span class="flex-1" translate>agent.deploy-via-agent-desc</span>
              <div tb-help="agentEdgeInstall"></div>
            </div>
            <tb-agent-app-install-wizard
              [embedded]="true"
              [selectAgent]="true"
              mode="install"
              [lockedType]="agentAppType"
              [lockedRelatedEntity]="relatedEntity"
              [navigateToAgentOnFinish]="true"
              (finished)="close()"
              (cancelled)="close()">
            </tb-agent-app-install-wizard>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tabs-icon" svgIcon="docker"></mat-icon>
            Docker
          </ng-template>
          <ng-template matTabContent>
            <div class="tb-form-panel no-padding no-border">
              <div class="tb-form-panel no-padding stroked">
                @if (contentData.docker) {
                  <tb-markdown [data]='contentData.docker'></tb-markdown>
                } @else {
                  <div class="tb-loader">
                    <mat-spinner color="accent" diameter="48" strokeWidth="4"></mat-spinner>
                  </div>
                }
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tabs-icon" svgIcon="mdi:ubuntu"></mat-icon>
            Ubuntu
          </ng-template>
          <ng-template matTabContent>
            <div class="tb-form-panel no-padding no-border">
              <div class="tb-form-panel no-padding stroked">
                @if (contentData.ubuntu) {
                  <tb-markdown [data]='contentData.ubuntu'></tb-markdown>
                } @else {
                  <div class="tb-loader">
                    <mat-spinner color="accent" diameter="48" strokeWidth="4"></mat-spinner>
                  </div>
                }
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tabs-icon" svgIcon="mdi:centos"></mat-icon>
            CentOS/RHEL
          </ng-template>
          <ng-template matTabContent>
            <div class="tb-form-panel no-padding no-border">
              <div class="tb-form-panel no-padding stroked">
                @if (contentData.centos) {
                  <tb-markdown [data]='contentData.centos'></tb-markdown>
                } @else {
                  <div class="tb-loader">
                    <mat-spinner color="accent" diameter="48" strokeWidth="4"></mat-spinner>
                  </div>
                }
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</div>
<div mat-dialog-actions class="tb-dialog-actions">
  @if (showDontShowAgain) {
    <mat-slide-toggle [(ngModel)]="notShowAgain">{{ 'action.dont-show-again' | translate}}</mat-slide-toggle>
  }
  <span class="flex-1"></span>
  <button mat-button color="primary"
    type="button"
    cdkFocusInitial
    (click)="close()">
    {{ 'action.close' | translate }}
  </button>
</div>
