// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host{
  width: 750px;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-rows: min-content 4px minmax(auto, 1fr) min-content;
  --mat-form-field-outlined-outline-color: rgba(0,0,0,0.12);
}
