// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../scss/constants';

:host {
  display: flex;
  max-width: 100%;
  .mdc-button {
    max-width: 100%;
  }
}

:host ::ng-deep {
  .mdc-button {
    .mat-icon {
      min-width: 24px;
    }
    .mdc-button__label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

::ng-deep {
  .tb-alarm-filter-config-component {
    flex: 1;

    tb-entity-subtype-list {
      flex: 1;
      @media #{$mat-gt-xs} {
        width: 180px;
      }
      .mdc-evolution-chip-set__chips {
        width: 100%;
      }
    }
  }
}
