// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../scss/constants';

:host {
  padding-right: 8px;
  overflow: hidden;
  max-width: 100%;
}
