// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  min-width: 0;
  .row {
    margin-top: 1em;
  }
  .tb-alarm-rule-details, .tb-alarm-rule-dashboard {
    padding: 4px;
    &.title {
      opacity: 0.7;
      overflow: visible;
    }
  }
  .tb-alarm-rule-details {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .tb-alarm-rule-dashboard {
    &.dashboard {
      width: 100%;
      max-width: 400px;
    }
  }
}

