:host {
  display: flex;
  a.mat-button {
    &:hover, &:focus {
      border-bottom: none;
    }
  }
  .tb-alarm-rule-condition {
    cursor: pointer;
    min-width: 0;
    .tb-alarm-rule-condition-spec {
      opacity: 0.7;
      padding: 4px;
    }
  }
}

:host ::ng-deep {
  .tb-alarm-rule-condition {
    .tb-filter-text {
      max-height: 200px;
    }
  }
}
