:host {
  display: flex;
  a.mat-button {
    &:hover, &:focus {
      border-bottom: none;
    }
  }
  .tb-alarm-rule-schedule {
    padding: 4px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.title {
      opacity: 0.7;
      overflow: visible;
    }
  }
}
