<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div class="flex flex-1 flex-row items-center justify-start gap-2" [formGroup]="alarmDurationPredicateValueFormGroup">
  <div class="flex flex-1 flex-col" [class.!hidden]="dynamicMode">
    <mat-form-field class="mat-block" subscriptSizing="dynamic">
      <input required type="number" matInput
             step="1" min="1" max="2147483647"
             formControlName="defaultValue"
             placeholder="{{ defaultValuePlaceholder | translate }}">
      <mat-error *ngIf="alarmDurationPredicateValueFormGroup.get('defaultValue').hasError('required')">
        {{ defaultValueRequiredError | translate }}
      </mat-error>
      <mat-error *ngIf="alarmDurationPredicateValueFormGroup.get('defaultValue').hasError('min')">
        {{ defaultValueRangeError | translate }}
      </mat-error>
      <mat-error *ngIf="alarmDurationPredicateValueFormGroup.get('defaultValue').hasError('max')">
        {{ defaultValueRangeError | translate }}
      </mat-error>
      <mat-error *ngIf="alarmDurationPredicateValueFormGroup.get('defaultValue').hasError('pattern')">
        {{ defaultValuePatternError | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="flex flex-1 flex-col" [class.!hidden]="!dynamicMode">
    <div formGroupName="dynamicValue" class="flex flex-row items-center justify-start gap-2">
      <div class="flex max-w-40% flex-full flex-col">
        <mat-form-field class="mat-block" subscriptSizing="dynamic">
          <mat-select formControlName="sourceType" placeholder="{{'filter.dynamic-source-type' | translate}}">
            <mat-option [value]="null">
              {{'filter.no-dynamic-value' | translate}}
            </mat-option>
            <mat-option *ngFor="let sourceType of dynamicValueSourceTypes" [value]="sourceType">
              {{dynamicValueSourceTypeTranslations.get(sourceType) | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex flex-1 flex-col">
        <mat-form-field class="mat-block source-attribute" subscriptSizing="dynamic">
          <input matInput formControlName="sourceAttribute" placeholder="{{'filter.source-attribute' | translate}}">
        </mat-form-field>
      </div>
      <div *ngIf="inheritMode"
           class="flex flex-col"
           style="padding-top: 6px">
        <mat-checkbox formControlName="inherit">
          {{ 'filter.inherit-owner' | translate}}
        </mat-checkbox>
      </div>
    </div>
  </div>
  <button mat-icon-button
          class="mat-elevation-z1 tb-mat-32"
          color="primary"
          type="button"
          matTooltip="{{ (dynamicMode ? 'filter.switch-to-default-value' : 'filter.switch-to-dynamic-value') | translate }}"
          matTooltipPosition="above"
          (click)="dynamicMode = !dynamicMode">
    <tb-icon class="tb-mat-20">{{ dynamicMode ? 'mdi:numeric' : 'mdi:variable' }}</tb-icon>
  </button>
</div>
