<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div class="flex flex-row items-center justify-start" [formGroup]="alarmRuleConditionFormGroup" (click)="openFilterDialog($event)" style="min-width: 0;">
  <span class="tb-alarm-rule-condition title">{{('device-profile.condition' | translate) + ': '}}</span>
  <div class="tb-alarm-rule-condition flex flex-1 flex-col items-stretch justify-center">
    <tb-filter-text formControlName="condition"
                    [nowrap]="true"
                    required
                    addFilterPrompt="{{'device-profile.enter-alarm-rule-condition-prompt' | translate}}">
    </tb-filter-text>
    <span *ngIf="specText" class="tb-alarm-rule-condition-spec" [class.disabled]="disabled" [innerHTML]="specText">
    </span>
  </div>
  <button mat-icon-button
          [color]="conditionSet() ? 'primary' : 'warn'"
          type="button"
          (click)="openFilterDialog($event)"
          matTooltip="{{ (disabled ? 'action.view' : 'action.edit') | translate }}"
          matTooltipPosition="above">
    <mat-icon>{{ disabled ? 'visibility' : (conditionSet() ? 'edit' : 'add') }}</mat-icon>
  </button>
</div>
