<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
<section [formGroup]="resourcesFormGroup">
  <div class="hidden flex-row items-center justify-start gt-sm:flex">
    <div class="max-w-30% flex-full">
      <mat-label translate>device-profile.lwm2m.resource-label</mat-label>
    </div>
    <div class="checkbox-column-title max-w-10% flex-full">
      <mat-label translate>device-profile.lwm2m.attribute-label</mat-label>
    </div>
    <div class="checkbox-column-title max-w-10% flex-full">
      <mat-label translate>device-profile.lwm2m.telemetry-label</mat-label>
    </div>
    <div class="checkbox-column-title max-w-10% flex-full">
      <mat-label translate>device-profile.lwm2m.observe-label</mat-label>
    </div>
    <div class="flex-1">
      <mat-label translate>device-profile.lwm2m.key-name</mat-label>
    </div>
  </div>
  <mat-divider class="hidden gt-sm:block"></mat-divider>
  <div formArrayName="resources">
    @for (resourceLwM2M of resourcesFormArray.controls; track resourceLwM2M.value.id; let isLast = $last) {
      <div [formGroupName]="$index">
        <div class="resource-list flex flex-col gap-2 gt-sm:flex-row gt-sm:items-center gt-sm:justify-start gt-sm:gap-0">
          <div class="flex flex-row items-center justify-between gt-sm:contents">
            <div class="resource-name min-w-0 gt-sm:max-w-30% gt-sm:flex-full">
              #{{ resourceLwM2M.get('id').value }} <span class="name">{{ resourceLwM2M.get('name').value }}</span>
            </div>
            <tb-profile-lwm2m-attributes
              class="gt-sm:order-last gt-sm:ml-auto"
              formControlName="attributes"
              [isAttributeTelemetry]="isDisabledObserve($index)"
              isResource="true"
              [modelName]="getNameResourceLwm2m(resourceLwM2M.value)">
            </tb-profile-lwm2m-attributes>
          </div>
          <div class="flex flex-row flex-wrap items-center gap-x-4 gap-y-1 gt-sm:contents">
            <mat-checkbox class="gt-sm:flex gt-sm:max-w-10% gt-sm:flex-full gt-sm:justify-center"
                          formControlName="attribute" color="warn">
              @if (!isGtSm) {
                {{ 'device-profile.lwm2m.attribute-label' | translate }}
              }
            </mat-checkbox>
            <mat-checkbox class="gt-sm:flex gt-sm:max-w-10% gt-sm:flex-full gt-sm:justify-center"
                          formControlName="telemetry" color="primary">
              @if (!isGtSm) {
                {{ 'device-profile.lwm2m.telemetry-label' | translate }}
              }
            </mat-checkbox>
            <mat-checkbox class="gt-sm:flex gt-sm:max-w-10% gt-sm:flex-full gt-sm:justify-center"
                          formControlName="observe" color="primary"
                          matTooltip="{{ 'device-profile.lwm2m.edit-observe-select' | translate }}"
                          [matTooltipDisabled]="disabled || !isDisabledObserve($index)"
                          matTooltipPosition="above">
              @if (!isGtSm) {
                {{ 'device-profile.lwm2m.observe-label' | translate }}
              }
            </mat-checkbox>
          </div>
          <mat-form-field class="min-w-0 gt-sm:max-w-33% gt-sm:flex-full" appearance="outline" subscriptSizing="dynamic">
            @if (!isGtSm) {
              <mat-label translate>device-profile.lwm2m.key-name</mat-label>
            }
            <input matInput type="text" formControlName="keyName" required>
            <mat-hint></mat-hint>
            @if (resourceLwM2M.get('keyName').hasError('required') ||
            resourceLwM2M.get('keyName').hasError('pattern')) {
              <mat-error>{{ 'device-profile.lwm2m.key-name-required' | translate }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      @if (!isLast) {
        <mat-divider class="my-2 gt-sm:hidden"></mat-divider>
      }
    }
  </div>
</section>
