<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div [class.!hidden]="disabled && isEmpty()" matTooltip="{{ tooltipSetAttributesTelemetry | translate }}" matTooltipPosition="above">
  <button type="button"
          [disabled]="isDisableBtn()"
          mat-icon-button
          (click)="editAttributesLwm2m($event)"
          matTooltip="{{ tooltipButton |  translate }}"
          matTooltipPosition="above">
    <mat-icon
      class="material-icons">{{ iconButton }}</mat-icon>
  </button>
</div>
