// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host{
  .tb-panel {
    min-height: 48px;

    .tb-panel-title {
      font-weight: 500;
    }
  }

  .instance-row {
    mat-expansion-panel-header {
      color: inherit;
    }
  }

  .mat-expansion-panel-header-title {
    margin-right: 0;
  }

  &::ng-deep {
    .mat-content.mat-content-hide-toggle {
      margin-right: 0;
    }
  }
}
