// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host ::ng-deep {
  .mat-mdc-dialog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;
  }
}
