// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../../../../scss/constants';

.tb-comparison-keys-table {
  .tb-form-table-header-cell {

    &.tb-show-header {
      width: 40px;
      min-width: 40px;
    }

    &.tb-key-header {
      flex: 1;
      @media #{$mat-gt-xs} {
        min-width: 100px;
        flex: 1 1 40%;
      }
    }

    &.tb-label-header {
      flex: 1;
      @media #{$mat-gt-xs} {
        min-width: 150px;
        flex: 1 1 60%;
      }
    }

    &.tb-color-header {
      width: 40px;
      min-width: 40px;
    }
  }

  .tb-form-table-body {
    tb-comparison-key-row {
      overflow: hidden;
    }
  }
}
