// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../../../../scss/constants';

.tb-comparison-key-row {
  .tb-show-field {
    width: 40px;
    min-width: 40px;
  }

  .tb-data-key-input {
    flex: 1;
    @media #{$mat-gt-xs} {
      min-width: 100px;
      flex: 1 1 40%;
    }
  }

  .tb-label-field, .tb-color-field {
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    .tb-inline-field {
      flex: 1;
    }
  }

  .tb-label-field {
    flex: 1;
    @media #{$mat-gt-xs} {
      min-width: 150px;
      flex: 1 1 60%;
    }
  }

  .tb-color-field {
    width: 40px;
    min-width: 40px;
  }
}
