// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  display: block;
  overflow: hidden;
  max-width: 100%;
  .mdc-button {
    max-width: 100%;
  }
}

:host ::ng-deep {
  .mdc-button {
    .mat-icon {
      min-width: 24px;
    }
    .mdc-button__label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
