// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
 .mat-mdc-tab-group {
    min-height: 330px;
  }
}

:host ::ng-deep {
  .mat-mdc-tab-body-wrapper {
    min-height: 200px;
  }

  .mat-mdc-tab-body {
    padding: 16px 0;
  }
}
