// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host{
  .tb-type-title {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    margin-bottom: 8px;
  }
}
