<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
<a mat-button class="tb-button-toggle"
   [class.tb-toggled]="section.opened && !collapsed"
   [class.tb-hovered]="collapsed && menuPopover?.component?.tbVisible"
   [class.tb-active]="section.active"
   (click)="toggleSection($event)"
   tb-popover
   #menuPopover="tbPopover"
   [tbPopoverTrigger]="collapsed ? 'hover' : null"
   [tbPopoverMouseLeaveDelay]="0.05"
   [tbPopoverMenu]="true"
   [tbPopoverContent]="menuToggleMenuTpl"
   [tbPopoverPlacement]="'rightTop'"
   [class.is-new]="section.isNew">
  @if (section.icon !== null) {
    <tb-icon class="tb-filled-icon" matButtonIcon>{{section.icon}}</tb-icon>
  }
  @if (section.outlinedIcon !== null) {
    <tb-icon class="tb-outlined-icon" matButtonIcon>{{section.outlinedIcon}}</tb-icon>
  }
  <span>{{section.customTranslate ? (section.name | customTranslate) : (section.name | translate)}}</span>
  <span class="pull-right fa fa-chevron-down tb-toggle-icon"
  [class.tb-toggled]="section.opened"></span>
</a>
<ul id="docs-menu-{{section.name | nospace}}" class="tb-menu-toggle-list"
    [class.tb-toggled]="section.opened"
    [style.height]="sectionHeight()">
  @for (page of section.pages; track page.id) {
    <li>
      <tb-menu-link [section]="page"></tb-menu-link>
    </li>
  }
</ul>

<ng-template #menuToggleMenuTpl>
  <div class="tb-menu-content tb-toggle-menu-items">
    <div class="tb-menu-toggle-header">
      <span>{{section.customTranslate ? (section.name | customTranslate) : (section.name | translate)}}</span>
    </div>
    @for (page of section.pages; track page.id) {
      <a mat-button routerLinkActive="tb-active" [routerLinkActiveOptions]="{paths: 'subset', queryParams: page.isCustom ? 'subset' : 'ignored', matrixParams: 'ignored', fragment: 'ignored'}"
         [routerLink]="page.path"
         [queryParams]="page.queryParams" (click)="menuPopover?.hide();">
        @if (page.outlinedIcon !== null) {
          <tb-icon matButtonIcon>{{page.outlinedIcon}}</tb-icon>
        }
        <span>{{page.customTranslate ? (page.name | customTranslate) : (page.name | translate)}}</span>
      </a>
    }
  </div>
</ng-template>
