// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "constants";

:host ::ng-deep {
  a.is-new::after {
    position: absolute;
    right: 16px;
    top: 4px;
    content: "NEW";
    background: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.76);
    font-size: 11px;
    letter-spacing: .25px;
    line-height: 16px;
    padding: 2px 8px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    opacity: 1;
    transition: opacity $sidenav-anim-timing;
  }
}
