<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<a mat-button class="tb-button-toggle" (click)="toggleSection($event)"
   [class.is-new]="section.isNew">
  <tb-icon matButtonIcon *ngIf="section.icon !== null">{{section.icon}}</tb-icon>
  <span>{{section.customTranslate ? (section.name | customTranslate) : (section.name | translate)}}</span>
  <span class="pull-right fa fa-chevron-down tb-toggle-icon"
        [class.tb-toggled]="section.opened"></span>
</a>
<ul id="docs-menu-{{section.name | nospace}}" class="tb-menu-toggle-list" [style.height]="sectionHeight()">
  <li *ngFor="let page of section.pages; trackBy: trackBySectionPages">
    <tb-menu-link [section]="page"></tb-menu-link>
  </li>
</ul>
