<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<ul class="tb-side-menu flex flex-col items-stretch justify-start" [class.tb-collapsed]="collapsed">
  @for (section of menuSections$ | async; track section.id) {
    <li>
      @switch (section.type) {
        @case ('link') {
          <tb-menu-link [section]="section" [collapsed]="collapsed"></tb-menu-link>
        }
        @case ('toggle') {
          <tb-menu-toggle [section]="section" [collapsed]="collapsed"></tb-menu-toggle>
        }
        @case ('divider') {
          <mat-divider></mat-divider>
        }
      }
    </li>
  }
</ul>
