// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .flex-50 {
    flex: 1 1 50%;
  }

  .flex-18 {
    flex: 1 1 18%;
  }

  .actions-header {
    width: 40px
  }

  .entity-type-list {
    display: flex;
  }
}
