:host {
  .tb-relation-filters {
    max-width: calc(100vw - 48px);
    overflow: hidden;

    .container{
      width: 100%;
      overflow: auto;
    }

    .header {
      width: max-content;
      padding: 0 5px 5px;

      .cell {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
        font-weight: 700;
        color: rgba(0, 0, 0, .54);
        white-space: nowrap;
      }
    }

    .body {
      width: max-content;
      padding: 0 5px 20px;

      .row {
        padding-top: 5px;
      }

      .cell {
        padding-right: 5px;
        padding-left: 5px;
      }
    }

    .any-filter{
      margin: 10px 0 20px;
    }
  }
}

:host ::ng-deep {
  .tb-relation-filters {
    .cell {
      .mat-form-field {
        .mat-form-field-infix {
          border-top: none;
        }
        &.mat-form-field-appearance-standard {
          .mat-form-field-flex {
            padding-top: 0;
          }
        }
      }
    }
  }
}
