// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
:host {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
