:host {
  width: min-content; //for Safari

  mat-select.default-state-controller {
    margin: 0;
  }
}

:host ::ng-deep {
  mat-select.default-state-controller {
    .mat-select-value {
      max-width: 200px;
    }
  }
}
