// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../scss/constants';

:host {
  width: 100%;

  .mat-toolbar {
    background: none;
  }

  .tb-form-settings {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 0;
  }

  .tb-select-interval {
    display: flex;
    flex-direction: row;
    gap: 16px;
    @media #{$mat-xs} {
      flex-direction: column;
      gap: 0;
    }
  }

  .tb-slide-toggle {
    margin-bottom: 8px;
  }
}
