<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
<form [formGroup]="awsSnsProviderConfigurationFormGroup" style="padding-bottom: 16px;">
  <mat-form-field class="mat-block" appearance="outline">
    <mat-label translate>admin.aws-access-key-id</mat-label>
    <input required matInput formControlName="accessKeyId">
    @if (awsSnsProviderConfigurationFormGroup.get('accessKeyId').hasError('required')) {
      <mat-error>
        {{ 'admin.aws-access-key-id-required' | translate }}
      </mat-error>
    }
  </mat-form-field>
  <tb-secret-key-input formControlName="secretAccessKey"
                       required
                       appearance="outline"
                       class="mat-block flex-1"
                       label="{{ 'admin.aws-secret-access-key' | translate }}"
                       requiredText="{{ 'admin.aws-secret-access-key-required' | translate }}">
  </tb-secret-key-input>
  <mat-form-field class="mat-block" appearance="outline">
    <mat-label translate>admin.aws-region</mat-label>
    <input required matInput formControlName="region">
    @if (awsSnsProviderConfigurationFormGroup.get('region').hasError('required')) {
      <mat-error>
        {{ 'admin.aws-region-required' | translate }}
      </mat-error>
    }
  </mat-form-field>
</form>
