<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<form [formGroup]="awsSnsProviderConfigurationFormGroup" style="padding-bottom: 16px;">
  <mat-form-field class="mat-block" appearance="outline">
    <mat-label translate>admin.aws-access-key-id</mat-label>
    <input required matInput formControlName="accessKeyId">
    @if (awsSnsProviderConfigurationFormGroup.get('accessKeyId').hasError('required')) {
      <mat-error>
        {{ 'admin.aws-access-key-id-required' | translate }}
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field class="mat-block" appearance="outline">
    <mat-label translate>admin.aws-secret-access-key</mat-label>
    <input required type="password" matInput formControlName="secretAccessKey" autocomplete="new-password">
    <tb-toggle-password matSuffix></tb-toggle-password>
    @if (awsSnsProviderConfigurationFormGroup.get('secretAccessKey').hasError('required')) {
      <mat-error>
        {{ 'admin.aws-secret-access-key-required' | translate }}
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field class="mat-block" appearance="outline">
    <mat-label translate>admin.aws-region</mat-label>
    <input required matInput formControlName="region">
    @if (awsSnsProviderConfigurationFormGroup.get('region').hasError('required')) {
      <mat-error>
        {{ 'admin.aws-region-required' | translate }}
      </mat-error>
    }
  </mat-form-field>
</form>
