<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section [formGroup]="ruleChainInputConfigForm" class="flex flex-col">
  <div class="tb-form-panel no-padding no-border">
    <div tb-hint-tooltip-icon="{{ 'rule-node-config.forward-msg-default-rule-chain-tooltip' | translate }}"
         class="tb-form-row no-border">
      <mat-slide-toggle class="mat-slide" formControlName="forwardMsgToDefaultRuleChain">
        {{ 'rule-node-config.forward-msg-default-rule-chain' | translate }}
      </mat-slide-toggle>
    </div>
    <tb-entity-autocomplete required
                            [excludeEntityIds]="[ruleChainId]"
                            [entityType]="entityType.RULE_CHAIN"
                            [entitySubtype]="ruleChainType"
                            formControlName="ruleChainId">
    </tb-entity-autocomplete>
  </div>
</section>
