// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../scss/constants';

:host {

  .tb-progress-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    opacity: 1;
  }

  .tb-dashboard-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    outline: none;
    overflow-y: auto;

    #gridster-background {
      height: 100%;
    }

    gridster-item {
      transition: none;
      overflow: visible;
      background: none;
    }

    &.autofill-height {
      overflow-y: hidden;
      gridster.mobile {
        overflow-y: hidden;
      }
    }

    &.center-vertical, &.center-horizontal {
      display: flex;
      align-items: center;
      justify-content: center;
      #gridster-child {
        width: 100%;
        height: 100%;
      }
    }
    &.center-vertical {
      #gridster-background {
        height: auto;
        max-height: 100%;
        width: 100%;
      }
    }
    &.center-horizontal {
      #gridster-background {
        width: auto;
        max-width: 100%;
        height: 100%;
      }
    }
  }

  #gridster-child {
    background: none;
  }
}

.tb-dashboard-context-menu-items {
  min-width: 256px;
}
