@import '../../../../../scss/constants';

:host {

  .tb-progress-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    opacity: 1;
  }

  .tb-dashboard-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    outline: none;

    gridster-item {
      transition: none;
      overflow: visible;
      background: none;
    }
  }

  #gridster-child {
    background: none;
  }
}

tb-widget.tb-widget {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;
  outline: none;

  transition: all .2s ease-in-out;
}

div.tb-widget {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;
  outline: none;

  transition: all .2s ease-in-out;

  .tb-widget-title {
    max-height: 65px;
    padding-top: 5px;
    padding-left: 5px;
    overflow: hidden;

    tb-timewindow {
      font-size: 14px;
      opacity: .85;
      margin: 0;
    }

    .title {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 24px;
      letter-spacing: .01em;
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      &.single-row{
        -webkit-line-clamp: 1;
      }
    }
  }

  .tb-widget-actions {
    z-index: 19;
    margin: 5px 0 0;

    &-absolute {
      position: absolute;
      top: 3px;
      right: 8px;
      z-index: 150;
    }

    button.mat-icon-button {
      width: 32px;
      min-width: 32px;
      height: 32px;
      min-height: 32px;
      padding: 0 !important;
      margin: 0 !important;
      line-height: 20px;

      mat-icon {
        width: 20px;
        min-width: 20px;
        height: 20px;
        min-height: 20px;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  .tb-widget-content {
    tb-widget {
      position: relative;
      width: 100%;
    }
  }

  &.tb-highlighted {
    border: 1px solid #039be5;
    box-shadow: 0 0 20px #039be5;
  }

  &.tb-not-highlighted {
    opacity: .5;
  }
}

.tb-dashboard-context-menu-items {
  min-width: 256px;
}
