:host {
  button.tb-layout-button {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
  }

  &::ng-deep {
    .mat-button-wrapper {
      line-height: 18px;
      span {
        font-size: 18px;
        font-weight: 400;
        white-space: normal;
      }
    }
  }
}
