// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  button.tb-layout-button {
    width: 100%;
    height: 100%;
    padding: 40px 10px;
    cursor: default;
    border-radius: 5px;

    &-right {
      border-radius: 0 5px 5px 0;
    }

    &-main {
      border-radius: 5px 0 0 5px;
    }
  }
}

:host ::ng-deep {
  button.tb-layout-button {
    .mdc-button__label {
      line-height: 36px;
    }
  }
}
