<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
<div class="mapping-config flex flex-1 flex-col">
  <div class="hidden flex-full flex-row items-center justify-start gap-2 gt-sm:flex">
    <div class="flex flex-1 flex-row gap-2">
      <label class="tb-title no-padding max-w-26% flex-full" translate>device-profile.snmp.data-type</label>
      <label class="tb-title tb-required no-padding max-w-37% flex-full" translate>device-profile.snmp.data-key</label>
      <label class="tb-title tb-required no-padding max-w-37% flex-full" translate>device-profile.snmp.oid</label>
      <span style="min-width: 40px" [class.!hidden]="disabled"></span>
    </div>
  </div>
  <mat-divider class="hidden gt-sm:block"></mat-divider>
  @for (mappingConfig of mappingsConfigFormArray.controls; track mappingConfig; let isLast = $last) {
    <div [formGroup]="mappingConfig" class="mapping-list flex flex-row items-center justify-start gap-2">
      <div class="tb-layout-fill flex flex-1 flex-col justify-start gap-1 min-w-0 gt-sm:flex-row gt-sm:items-stretch gt-sm:gap-2">
        <mat-form-field class="flex-full min-w-0 gt-sm:max-w-26%" appearance="outline" subscriptSizing="dynamic">
          @if (!isGtSm) {
            <mat-label translate>device-profile.snmp.data-type</mat-label>
          }
          <mat-select formControlName="dataType" required>
            @for (dataType of dataTypes; track dataType) {
              <mat-option [value]="dataType">
                {{ dataTypesTranslationMap.get(dataType) | translate }}
              </mat-option>
            }
          </mat-select>
          <mat-hint></mat-hint>
          @if (mappingConfig.get('dataType').hasError('required')) {
            <mat-error>
              {{ 'device-profile.snmp.data-type-required' | translate }}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="flex-full min-w-0 gt-sm:max-w-37%" appearance="outline" subscriptSizing="dynamic">
          @if (!isGtSm) {
            <mat-label translate>device-profile.snmp.data-key</mat-label>
          }
          <input matInput formControlName="key" required/>
          <mat-hint></mat-hint>
          @if (mappingConfig.get('key').hasError('required')) {
            <mat-error>
              {{ 'device-profile.snmp.data-key-required' | translate }}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="flex-full min-w-0 gt-sm:max-w-37%" appearance="outline" subscriptSizing="dynamic">
          @if (!isGtSm) {
            <mat-label translate>device-profile.snmp.oid</mat-label>
          }
          <input matInput formControlName="oid" required/>
          <mat-hint></mat-hint>
          @if (mappingConfig.get('oid').hasError('required')) {
            <mat-error>
              {{ 'device-profile.snmp.oid-required' | translate }}
            </mat-error>
          }
          @if (mappingConfig.get('oid').hasError('pattern')) {
            <mat-error>
              {{ 'device-profile.snmp.oid-pattern' | translate }}
            </mat-error>
          }
        </mat-form-field>
      </div>
      @if (!disabled) {
        <button
          mat-icon-button color="primary"
          type="button"
          (click)="removeMappingConfig($index)"
          matTooltip="{{ 'action.remove' | translate }}"
          matTooltipPosition="above">
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
    @if (!isLast) {
      <mat-divider class="my-3 gt-sm:hidden"></mat-divider>
    }
  }
  @if (!mappingsConfigFormArray.controls.length && !disabled) {
    <div>
      <span class="tb-prompt required required-text flex items-center justify-center" translate>device-profile.snmp.please-add-mapping-config</span>
    </div>
  }
  @if (!disabled) {
    <div>
      <button mat-stroked-button color="primary"
              type="button"
              (click)="addMappingConfig()">
        <mat-icon class="button-icon">add_circle_outline</mat-icon>
        {{ 'device-profile.snmp.add-mapping' | translate }}
      </button>
    </div>
  }
</div>
