// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.tb-qrcode-preview {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;

  .tb-form-panel-title {
    color: rgba(0, 0, 0, 0.38);
  }
}
