:host {
  .mat-chip.mat-standard-chip {
    overflow: hidden;

    .tb-attribute-chip {
      max-width: 100%;
      color: rgb(66, 66, 66);
      font-weight: normal;
      font-size: 16px;

      .tb-chip-drag-handle {
        cursor: move;

        mat-icon {
          pointer-events: none;
        }
      }

      .tb-chip-labels {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        min-width: 0;
        .tb-chip-label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .tb-chip-separator {
          white-space: pre;
        }
      }

      .mat-chip-remove.mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
        margin-left: 0;
        color: inherit;
        opacity: inherit;
      }
    }
  }
}

:host ::ng-deep {
  .mat-form-field-flex {
    padding-top: 0;
    .mat-form-field-infix {
      border-top: 0;
    }
  }
}
