<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<tb-dashboard class="tb-preview-dashboard"
              [style.width]="previewWidth"
              [style.height]="previewHeight"
              [aliasController]="aliasController"
              [stateController]="stateController"
              [dashboardTimewindow]="dashboardTimewindow"
              [widgets]="widgets"
              [autofillHeight]="true"
              [columns]="24"
              [isEdit]="false"
              [isPreview]="true"
              [isMobileDisabled]="true"
              [isEditActionEnabled]="false"
              [isRemoveActionEnabled]="false">
</tb-dashboard>
<div class="tb-preview-panel">
  <ng-content select=".tb-preview-panel-content"></ng-content>
</div>
