.tb-widget {
  .tb-widget-error {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .5);

    span {
      color: #f00;
    }
  }

  .tb-widget-no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .75);

    span {
      color: #000;
      text-align: center;
    }
  }

  .tb-widget-loading {
    z-index: 3;
    background: rgba(255, 255, 255, .15);
  }

  .tb-widget-error-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .tb-widget-error-msg {
    padding: 5px;
    font-size: 16px;
    color: #f00;
    word-wrap: break-word;
  }

  #widget-container {
    min-height: 0;
    min-width: 0;
  }
}
