// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  overflow-x: auto;

  .mat-column-order {
    flex: 0 0 40px;
  }
  .mat-column-sampleData {
    flex: 0 0 120px;
    min-width: 120px;
    max-width: 230px;
  }
  .mat-column-type {
    flex: 0 0 180px;
    min-width: 180px;
  }
  .mat-column-key {
    flex: 0 0 120px;
    min-width: 120px;
  }
}
