<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div [formGroup]="timewindowConfig" class="tb-form-panel">
  <div class="flex flex-row items-center justify-between">
    <div class="tb-form-panel-title" translate>timewindow.timewindow</div>
    <tb-toggle-select formControlName="useDashboardTimewindow" selectMediaBreakpoint="xs">
      <tb-toggle-option [value]="true">{{ 'widget-config.use-dashboard-timewindow' | translate }}</tb-toggle-option>
      <tb-toggle-option [value]="false">{{ 'widget-config.use-widget-timewindow' | translate }}</tb-toggle-option>
    </tb-toggle-select>
  </div>
  <div class="tb-form-row column-xs">
    <mat-slide-toggle class="mat-slide" formControlName="displayTimewindow">
      {{ 'widget-config.display-timewindow' | translate }}
    </mat-slide-toggle>
    <div class="flex flex-1 flex-row items-center justify-between">
      <tb-timewindow asButton="true"
                     strokedButton
                     noMargin
                     isEdit="true"
                     alwaysDisplayTypePrefix
                     timezone="true"
                     [historyOnly]="onlyHistoryTimewindow"
                     quickIntervalOnly="{{ widgetType === widgetTypes.latest }}"
                     aggregation="{{ widgetType === widgetTypes.timeseries }}"
                     formControlName="timewindow"></tb-timewindow>
      <tb-timewindow-style formControlName="timewindowStyle"
                           [previewValue]="timewindowConfig.get('timewindow').value">
      </tb-timewindow-style>
    </div>
  </div>
</div>
