// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  width: 100%;
  height: 100%;
  display: block;
  .tb-entity-table {
    .tb-entity-table-content {
      width: 100%;
      height: 100%;
      background: #fff;
      overflow: hidden;

      .tb-entity-table-title {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .table-container {
        overflow: auto;
        z-index: 1;
      }
    }
  }
}

:host ::ng-deep {
  .mat-sort-header-sorted .mat-sort-header-arrow {
    opacity: 1 !important;
  }

  .mat-mdc-cell.tb-icon-cell {
    .mat-icon {
      vertical-align: middle;
    }
  }

  .tb-draggable {
    &.cdk-drag-placeholder {
      opacity: 0;
    }
    &.cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
