// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  display: flex;
  flex: 1;

  .tb-alarm-rule-condition {
    display: flex;
    flex: 1;
    &-button {
      --mat-button-outlined-horizontal-padding: 3px 0px 12px;
      display: block;
      width: 100%;
    }
    &-label {
      display: block;
      text-align: start;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
