// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  width: 100%;
  .tb-alarm-rule-details, .tb-alarm-rule-dashboard {
    padding: 4px;
    &.title {
      opacity: 0.7;
      overflow: visible;
    }
  }
  .tb-alarm-rule-details {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

