// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../scss/constants';

:host {
  display: grid;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  grid-template-rows: min-content minmax(auto, 1fr) min-content;

  @media #{$mat-gt-xs} {
    .mat-mdc-dialog-content {
      max-height: 80vh;
    }
  }

  .tb-audit-log {
    min-width: max(400px, 100%);
    border: 1px solid #c0c0c0;
    @media #{$mat-xs} {
      min-width: 100%;
    }
  }
}
