// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  display: flex;
  max-width: 100%;
  padding-right: 20px;
  .mdc-button {
    max-width: 100%;
  }
}

:host ::ng-deep {
  .mdc-button {
    .mat-icon {
      min-width: 24px;
    }
    .mdc-button__label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

::ng-deep {
  .tb-audit-log-config-component {
    max-width: 100%;
    width: 600px;
    min-width: 100%;
    flex: 1;
  }
}
