// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 4px 0;
  a.tb-entity-chip {
    padding: 4px 8px;
    border-radius: 12px;
    line-height: 16px;
    background: #e0e0e0;
    color: #212121;
    white-space: nowrap;
    border: none;
    &:hover {
      background: #b7b7b7;
    }
  }
}
