:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep {
  tb-details-panel {
    > .mat-content {
      > .mat-tab-group {
        > .mat-tab-body-wrapper {
          position: absolute;
          top: 49px;
          left: 0;
          right: 0;
          bottom: 0;
        }
        > .mat-tab-header {
          .mat-tab-label {
            min-width: 40px;
          }
        }
      }
    }
  }
}
