// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../../../../../scss/constants";

:host {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 4px auto min-content;

  .toggle-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
  }

  @media #{$mat-sm} {
    min-width: 470px;
  }

  @media #{$mat-gt-sm} {
    min-width: 650px;
  }
}

:host-context(.mat-mdc-dialog-container) {
  .tb-dialog-actions {
    padding: 0;
    grid-row: 4;

    .dialog-actions-row {
      padding: 8px;
      display: flex;
      gap: 8px;
      justify-content: flex-end;
      flex: 1;
    }
  }

  .mat-mdc-dialog-content {
    grid-row: 3;
    padding: 0;
  }

}

:host ::ng-deep {
  .mat-mdc-dialog-content {
    .mat-stepper-horizontal {
      display: flex;
      height: 100%;
      overflow: hidden;

      .mat-horizontal-stepper-wrapper {
        width: 100%;
      }

      .mat-horizontal-content-container {
        height: 500px;
        max-height: 100%;
        overflow-y: auto;
        scrollbar-gutter: stable;
      }
    }
  }
}
