:host {
  display: flex;
  width: 100%;
  height: 100%;

  .tb-invisible {
    display: none !important;
  }

  mat-sidenav-container {
    flex: 1;
  }
  mat-sidenav.tb-site-sidenav {
    width: 250px;
    @media (max-width:456px) {
      width: calc(100% - 56px);
    }
    .tb-nav-header {
      z-index: 2;
      flex-shrink: 0;
      white-space: nowrap;
      .tb-nav-header-toolbar {
        min-height: 64px;
        height: inherit;
        z-index: 2;
        flex-shrink: 0;
        white-space: nowrap;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        & > div {
          height: 64px;
          .tb-logo-title {
            width: auto;
            height: 36px;
            margin: auto;
          }
        }
      }
    }
    .tb-side-menu-toolbar {
      overflow-y: auto;
      height: inherit;
      padding: 0;
    }
  }
  .tb-primary-toolbar {
    z-index: 2;
    h1 {
      font-size: 24px !important;
      font-weight: 400 !important;
    }
  }
  .tb-main-content {
    overflow: auto;
    position: relative;
  }
}
