<?xml version="1.0" encoding="UTF-8" ?>
<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.thingsboard.migrator" level="INFO"/>
    <!-- Set to DEBUG to see all Cassandra rate limit events -->
    <logger name="org.thingsboard.migrator.utils.CassandraService" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
