// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .hex-input-container {
    display: flex;
    gap: 8px;
  }
  .hex-input {
    max-width: 190px;
  }
  .alpha-input {
    min-width: 60px;
    max-width: 60px;
  }

  ::ng-deep {
    .mdc-text-field--filled, .mat-mdc-form-field-focus-overlay {
      &:before {
        background-color: transparent !important;
      }
    }
    .mat-mdc-form-field-icon-prefix, .mdc-line-ripple, .copy-button {
      opacity: 0.4;
    }
    .alpha-input {
      .mat-mdc-text-field-wrapper {
        padding-left: 0;
      }
    }

  }
}


