<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div class="color-input-container">
  <div class="tb-form-row tb-flex no-gap no-border no-padding column align-center">
    <mat-form-field class="color-input number" subscriptSizing="dynamic" appearance="outline">
      <input matInput  type="number" [min]="0" [max]="255" [value]="value?.getRed()" (inputChange)="onInputChange($event, 'R')" />
    </mat-form-field>
    @if (labelVisible) {
      <span>R</span>
    }
  </div>
  <div class="tb-form-row tb-flex no-gap no-border no-padding column align-center">
    <mat-form-field class="color-input number" subscriptSizing="dynamic" appearance="outline">
      <input matInput type="number" [min]="0" [max]="255" [value]="value?.getGreen()" (inputChange)="onInputChange($event, 'G')" />
    </mat-form-field>
    @if (labelVisible) {
      <span>G</span>
    }
  </div>
  <div class="tb-form-row tb-flex no-gap no-border no-padding column align-center">
    <mat-form-field class="color-input number" subscriptSizing="dynamic" appearance="outline">
      <input matInput type="number" [min]="0" [max]="255" [value]="value?.getBlue()" (inputChange)="onInputChange($event,'B')" />
    </mat-form-field>
  @if (labelVisible) {
    <span>B</span>
  }
  </div>
  <div class="tb-form-row tb-flex no-gap no-border no-padding column align-center">
    <mat-form-field class="color-input number" subscriptSizing="dynamic" appearance="outline">
      <input matInput type="number" [min]="0" [max]="100" [value]="alphaValue" (inputChange)="onAlphaInputChange($event)" />
      <span matSuffix>{{suffixValue}}</span>
    </mat-form-field>
    @if (labelVisible) {
      <span>A</span>
    }
  </div>
</div>
