// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../../../../scss/constants";

.limit-slider-container {
  width: 100%;
  .limit-slider-value {
    margin-left: 16px;
    min-width: 25px;
    max-width: 106px;
  }
  mat-form-field input[type=number] {
    text-align: center;
  }

  .mdc-slider {
    height: 40px;

    ::ng-deep {
      .mdc-slider__thumb {
        left: -20px;
        height: 40px;
        width: 40px;

        .mat-ripple-element.mat-mdc-slider-focus-ripple,
        .mat-ripple-element.mat-mdc-slider-active-ripple,
        .mat-ripple-element.mat-mdc-slider-hover-ripple {
          left: 0 !important;
          top: 0 !important;
          height: 40px !important;
          width: 40px !important;
        }
      }
    }
  }
}

@media #{$mat-gt-sm} {
  .limit-slider-container {
    > label {
      margin-right: 16px;
      width: min-content;
      max-width: 40%;
    }
  }
}
