@import '../../../../scss/constants';

:host ::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 8px;
  }
  .mat-form-field-underline {
    bottom: 8px;
  }
  .mat-form-field-infix {
    width: 150px;

    @media #{$mat-xs} {
      width: 100%;
    }
  }
}
