<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section class="tb-form-row column-xs no-border no-padding tb-standard-fields" [formGroup]="dateTimePeriodFormGroup">
    <mat-form-field class="flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
      <mat-label translate>datetime.from</mat-label>
      <mat-datetimepicker-toggle [for]="startDatePicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #startDatePicker type="datetime" openOnFocus="true"></mat-datetimepicker>
      <input matInput formControlName="startDate" [matDatetimepicker]="startDatePicker" [max]="maxStartDate">
    </mat-form-field>
    <mat-form-field class="flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
      <mat-label translate>datetime.to</mat-label>
      <mat-datetimepicker-toggle [for]="endDatePicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #endDatePicker type="datetime" openOnFocus="true"></mat-datetimepicker>
      <input matInput formControlName="endDate" [matDatetimepicker]="endDatePicker" [max]="maxEndDate">
    </mat-form-field>
</section>
