:host ::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 8px;
  }
  .mat-form-field-underline {
    bottom: 8px;
  }
  .mat-form-field-infix {
    width: auto;
    min-width: 100px;
  }
  mat-form-field {
    &.no-label {
      .mat-form-field-infix {
        border-top-width: 0.2em;
      }
    }
  }
}
