// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../scss/constants';

:host {
  .tb-interval-options-form {
    height: 100%;

    .tb-form-table {
      overflow: hidden;
    }

    .tb-form-table-body {
      overflow-y: auto;
    }

    .tb-form-table-header-cell, .tb-form-table-row-cell {
      &.tb-interval {
        flex: 1 1 30%;
        min-width: calc(30% - 8px);
        @media #{$mat-gt-md} {
          min-width: calc(30% - 12px);
        }
      }
      &.tb-agg-interval {
        flex: 1 1 70%;
        min-width: 70%;
      }
    }

    .tb-form-table-header-cell.tb-agg-interval-header {
      flex: 1 1 35%;
      width: 35%;
    }

    .tb-form-hint {
      flex-shrink: 0;
    }

    ::ng-deep {
      .tb-interval-option {
        display: block;

        .mdc-form-field {
          width: 100%;
        }

        .mdc-label {
          overflow: hidden;
          mat-label {
            display: block;
          }
        }
      }
    }
  }
}

