<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section class="interval-section flex flex-1 flex-row" [formGroup]="quickIntervalFormGroup">
  <mat-form-field class="flex-1" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
    @if (displayLabel) {
      <mat-label translate>timewindow.interval</mat-label>
    }
    <mat-select formControlName="interval">
      @for (interval of intervals; track interval) {
        <mat-option [value]="interval">
          {{ timeIntervalTranslationMap.get(interval) | translate}}
        </mat-option>
      }
    </mat-select>
    <ng-container matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </ng-container>
  </mat-form-field>
</section>
