// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  background-color: #fff;

  .tb-timewindow-form {
    overflow: hidden;

    &-content {
      overflow-y: auto;

      tb-timeinterval,
      tb-quick-time-interval,
      tb-datetime-period,
      tb-datapoints-limit,
      tb-aggregation-type-select {
        flex: 1;
      }
    }
  }
}
