// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  display: flex;
  flex-direction: column;
  width: 380px;
  max-height: 100%;
  max-width: 100%;
  background-color: #fff;

  tb-timezone-select {
    flex: 1;
  }

  .tb-timezone-panel-actions {
    padding-top: 12px;
  }

}
