@import '../../../../scss/constants';

:host {
  min-width: 355px;

  .advanced-switch {
    margin-bottom: 16px;
  }

  .advanced-label {
    margin: 5px 0;
  }

  .hide-label {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .interval-section {
    min-height: 66px;
    .interval-label {
      margin-bottom: 7px;
      margin-top: -1px;
    }
  }

  @media #{$mat-xs} {
    min-width: 0;
    width: 100%;
  }
}

:host ::ng-deep {
  .number-input {
    .mat-form-field-infix {
      width: 70px;
    }
  }
}
