// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  min-width: 48px;
  margin: 8px 0;
  max-width: 100%;
  &.no-margin {
    margin: 0;
  }
  .mdc-button {
    max-width: 100%;
  }
  section.tb-timewindow {
    padding: 0 8px;
    &.no-padding {
      padding: 0;
    }
    line-height: 32px;
    pointer-events: all;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    place-content: center flex-start;
    align-items: center;
    gap: 4px;
    width: 100%;

    .tb-timewindow-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .timezone-abbr {
      font-weight: 500;
    }
  }
}

:host ::ng-deep {
  .mdc-button {
    .mat-icon {
      min-width: 24px;
    }
    .mdc-button__label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
