<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section class="tb-form-panel no-border no-padding" [formGroup]="timeintervalFormGroup">
  <section class="tb-form-row column-xs no-border no-padding tb-standard-fields">
    <ng-content></ng-content>
    <mat-form-field class="flex flex-1" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
      <mat-label *ngIf="predefinedName" translate>{{ predefinedName }}</mat-label>
      <mat-select formControlName="interval">
        <mat-option *ngFor="let interval of intervals" [value]="interval.value">
          {{ interval.name | translate:interval.translateParams }}
        </mat-option>
      </mat-select>
      <ng-container matSuffix>
        <ng-content select="[matSuffix]"></ng-content>
      </ng-container>
    </mat-form-field>
  </section>
  <section class="tb-form-row column-xs no-border no-padding tb-standard-fields advanced-input"
           formGroupName="customInterval"
           [class.!hidden]="!advanced">
    <div class="tb-flex">
      <mat-form-field class="number-input flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
        <mat-label translate>timeinterval.days</mat-label>
        <input matInput type="number" step="1" min="0" formControlName="days" />
      </mat-form-field>
      <mat-form-field class="number-input flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
        <mat-label translate>timeinterval.hours</mat-label>
        <input matInput type="number" step="1" formControlName="hours" />
      </mat-form-field>
    </div>
    <div class="tb-flex">
      <mat-form-field class="number-input flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
        <mat-label translate>timeinterval.minutes</mat-label>
        <input matInput type="number" step="1" formControlName="mins" />
      </mat-form-field>
      <mat-form-field class="number-input flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
        <mat-label translate>timeinterval.seconds</mat-label>
        <input matInput type="number" step="1" formControlName="secs" />
      </mat-form-field>
    </div>
  </section>
</section>
