:host {
  width: 100%;
  height: 100%;
  form,
  fieldset {
    height: 100%;
  }

  .mat-content {
    overflow: hidden;
    background-color: #fff;
  }

  .mat-padding {
    padding: 0 16px;
  }

  .hide-label {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  tb-timeinterval[ng-reflect-fx-show="true"] {
    margin-bottom: -16px;
  }

  .limit-slider-container {
    >:first-child {
      margin-right: 16px;
    }
    >:last-child {
      margin-left: 16px;
    }
    >:first-child, >:last-child {
      min-width: 25px;
      max-width: 42px;
    }
    mat-form-field input[type=number] {
      text-align: center;
    }
  }

}

:host ::ng-deep {
  mat-radio-button {
    display: block;
    margin-bottom: 16px;
    .mat-radio-label {
      width: 100%;
      align-items: start;
      .mat-radio-label-content {
        width: 100%;
      }
    }
  }
}
