// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../scss/constants';

:host {
  .advanced-input {
    gap: 8px;
  }

  @media #{$mat-xs} {
    min-width: 0;
    width: 100%;
  }
}

:host ::ng-deep {
  .mat-mdc-form-field-has-icon-suffix {
    .mat-mdc-text-field-wrapper:has(.mat-mdc-form-field-icon-suffix:empty) {
      padding-right: 12px;
    }
    .mat-mdc-form-field-icon-suffix:empty {
      padding: 0;
    }
  }
  .number-input {
    .mat-mdc-form-field-infix {
      width: 50px;
    }
  }
}
