<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<form [formGroup]="complexFilterFormGroup" (ngSubmit)="save()" style="width: 1200px;">
  <mat-toolbar class="justify-between" color="primary">
    <h2 translate>filter.complex-filter</h2>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content>
    <section class="tb-form-panel">
      <div class="flex flex-row items-center justify-between">
        <div class="tb-form-panel-title"
             tb-hint-tooltip-icon="{{ data.valueType === EntityKeyValueType.DATE_TIME ? ('alarm-rule.date-time-hint' | translate) : '' }}">
          {{ 'alarm-rule.filters' | translate }}
        </div>
        <tb-toggle-select formControlName="operation"
                          selectMediaBreakpoint="xs">
          <tb-toggle-option [value]="complexOperationEnum.AND">{{ complexOperationTranslations.get(complexOperationEnum.AND) | translate }}</tb-toggle-option>
          <tb-toggle-option [value]="complexOperationEnum.OR">{{ complexOperationTranslations.get(complexOperationEnum.OR) | translate }}</tb-toggle-option>
        </tb-toggle-select>
      </div>
      <tb-alarm-rule-filter-predicate-list [valueType]="data.valueType"
                                           [arguments]="arguments"
                                           [argumentInUse]="data.argumentInUse"
                                           [operation]="complexFilterFormGroup.get('operation').value"
                                           formControlName="predicates">
      </tb-alarm-rule-filter-predicate-list>
    </section>
  </div>
  <div mat-dialog-actions class="flex items-center justify-end">
    <button mat-button color="primary"
            type="button"
            (click)="cancel()"
            cdkFocusInitial>
      {{'action.cancel' | translate }}
    </button>
    @if (!readonly) {
      <button mat-raised-button color="primary"
              type="submit"
              [disabled]="complexFilterFormGroup.invalid || !complexFilterFormGroup.dirty">
        {{ (isAdd ? 'action.add' : 'action.update') | translate }}
      </button>
    }
  </div>
</form>
