<div class="mat-table-padding" style="margin: 10px;padding: 10px;">
  <mat-progress-bar color="warn" style="z-index: 10; margin-bottom: -4px; width: 100%;" mode="indeterminate"
    *ngIf="isLoading">
  </mat-progress-bar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Device Name">

      <th mat-header-cell *matHeaderCellDef> <input type="checkbox" id="select-all"> Device Name </th>
      <td mat-cell *matCellDef="let element"> <input type="checkbox" (change)="toggleVisibility($event)"
          name="{{element['DeviceID.ID']['value'][0]}}"> {{element['DeviceID.ID']['value'][0]}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="SSID">
      <th mat-header-cell *matHeaderCellDef> SSID </th>
      <td mat-cell *matCellDef="let element">
        {{element['InternetGatewayDevice.LANDevice.1.WLANConfiguration.1.SSID']['value'][0]}}
        <img src="../../../../../assets/write_img.svg"
          (click)="updateValue(element['DeviceID.ID']['value'][0],element['InternetGatewayDevice.LANDevice.1.WLANConfiguration.1.SSID']['value'][0],'InternetGatewayDevice.LANDevice.1.WLANConfiguration.1.SSID')"
          style="cursor: pointer;" /> &nbsp;

      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Last Inform">
      <th mat-header-cell *matHeaderCellDef> Last Inform </th>
      <td mat-cell *matCellDef="let element"> {{element['Events.Inform']['value'][0] | date: 'MMM d, y, h:mm:ss a'}}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="IP">
      <th mat-header-cell *matHeaderCellDef> IP </th>
      <td mat-cell *matCellDef="let element">
        {{element['InternetGatewayDevice.WANDevice.1.WANConnectionDevice.1.WANIPConnection.1.ExternalIPAddress']['value'][0]}}
        <img src="../../../../../assets/write_img.svg"
          (click)="updateValue(element['DeviceID.ID']['value'][0],element['InternetGatewayDevice.WANDevice.1.WANConnectionDevice.1.WANIPConnection.1.ExternalIPAddress']['value'][0],'InternetGatewayDevice.WANDevice.1.WANConnectionDevice.1.WANIPConnection.1.ExternalIPAddress')"
          style="cursor: pointer;" /> &nbsp;

      </td>
    </ng-container>

    <ng-container matColumnDef="Tag">
      <th mat-header-cell *matHeaderCellDef> Tags </th>
      <td  mat-cell *matCellDef="let element" >
      </td>
    </ng-container>

    <!-- Action Column -->

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" (click)="openDialog(element)">
        <mat-icon style="color: #1890FF;cursor: pointer;">slideshow</mat-icon>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  <button  mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="operations('delete')">Delete</button>
    <button mat-menu-item (click)="operations('reboot')">Reboot</button>
    <button mat-menu-item (click)="operations('reset')">Reset</button>
    <button mat-menu-item (click)="operations('tag')">Tag</button>
    <button mat-menu-item (click)="operations('untag')">Untag</button>
  </mat-menu>

  <button style="margin-right: 200px;">Download</button>

</div>