:host ::ng-deep {
  button.tb-card-button {
    width: 100%;
    height: 100%;
    max-width: 240px;
    .mat-button-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      mat-icon {
        margin: auto;
      }
      span {
        height: 18px;
        min-height: 18px;
        max-height: 18px;
        margin: 0 0 20px 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        white-space: normal;
      }
    }
    &.mat-raised-button.mat-primary {
      .mat-ripple-element {
        opacity: 0.3;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
