<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field [formGroup]="selectWidgetTypeFormGroup" class="mat-block" [floatLabel]="floatLabel"
                [appearance]="appearance" [subscriptSizing]="subscriptSizing">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  <input matInput type="text"
         #widgetTypeInput
         placeholder="{{ placeholder }}"
         formControlName="widgetType"
         (focusin)="onFocus()"
         [required]="required"
         [matAutocomplete]="widgetTypeAutocomplete">
  @if (selectWidgetTypeFormGroup.get('widgetType').value && !disabled) {
    <button
      type="button"
      matSuffix mat-icon-button aria-label="Clear"
      (click)="clear()">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  }
  <mat-autocomplete
    class="tb-autocomplete tb-widget-type-autocomplete"
    #widgetTypeAutocomplete
    [displayWith]="displayWidgetTypeFn">
    @for (widgetType of filteredWidgetTypes | async; track widgetType) {
      <mat-option [value]="widgetType">
        <div class="tb-widget-type-option-container">
          <img class="tb-widget-type-option-image-preview" [src]="widgetType.image | image: {preview: true, emptyUrl: '/assets/widget-preview-empty.svg'} | async" alt="{{ widgetType.name }}">
          <div class="tb-widget-type-option-details">
            <div class="tb-widget-type-option-text" [innerHTML]="widgetType.name | highlight:searchText:true"></div>
            @if (widgetType.deprecated) {
              <div class="tb-widget-type-option-deprecated">{{ 'widget.deprecated' | translate }}</div>
            }
          </div>
        </div>
      </mat-option>
    }
    @if (!(filteredWidgetTypes | async)?.length) {
      <mat-option [value]="null">
        <div (click)="$event.stopPropagation()">
          @if (!textIsNotEmpty(searchText)) {
            <div>
              <span>{{ 'widget.no-widgets-text' | translate }}</span>
            </div>
          } @else {
            <span>
              {{ translate.get('widget.no-widgets-matching', {entity: searchText}) | async }}
            </span>
          }
        </div>
      </mat-option>
    }
  </mat-autocomplete>
  <mat-error>
    <ng-content select="[tb-error]"></ng-content>
  </mat-error>
  <mat-hint>
    <ng-content select="[tb-hint]"></ng-content>
  </mat-hint>
</mat-form-field>
