// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.mat-mdc-option.branch-option {
  .mat-icon, .check-placeholder {
    margin-right: 8px;
  }
  .check-placeholder {
    width: 18px;
    display: inline-block;
  }
  .mdc-list-item__primary-text {
    width: 100%;
    .default-branch {
      float: right;
    }
  }
}
