<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section [formGroup]="clearAlarmConfigForm" class="flex flex-col">
  <tb-script-lang formControlName="scriptLang" *ngIf="tbelEnabled"></tb-script-lang>
  <tb-js-func *ngIf="clearAlarmConfigForm.get('scriptLang').value === scriptLanguage.JS"
              #jsFuncComponent
              formControlName="alarmDetailsBuildJs"
              functionName="Details"
              [functionArgs]="['msg', 'metadata', 'msgType']"
              helpId="rulenode/clear_alarm_node_script_fn"
              noValidate="true">
    <button toolbarSuffixButton
            mat-icon-button
            matTooltip="{{ testScriptLabel | translate }}"
            matTooltipPosition="above"
            class="tb-mat-32"
            (click)="testScript()">
      <mat-icon class="material-icons" color="primary">bug_report</mat-icon>
    </button>
  </tb-js-func>
  <tb-js-func *ngIf="clearAlarmConfigForm.get('scriptLang').value === scriptLanguage.TBEL"
              #tbelFuncComponent
              formControlName="alarmDetailsBuildTbel"
              functionName="Details"
              [functionArgs]="['msg', 'metadata', 'msgType']"
              [disableUndefinedCheck]="true"
              [scriptLanguage]="scriptLanguage.TBEL"
              helpId="rulenode/tbel/clear_alarm_node_script_fn"
              noValidate="true">
    <button toolbarSuffixButton
            mat-icon-button
            matTooltip="{{ testScriptLabel | translate }}"
            matTooltipPosition="above"
            class="tb-mat-32"
            (click)="testScript()">
      <mat-icon class="material-icons" color="primary">bug_report</mat-icon>
    </button>
  </tb-js-func>
  <div class="flex flex-row" style="padding-bottom: 16px;">
    <button mat-button mat-raised-button color="primary" (click)="testScript()">
      {{ testScriptLabel | translate }}
    </button>
  </div>
  <mat-form-field class="mat-block" subscriptSizing="dynamic">
    <mat-label translate>rule-node-config.alarm-type</mat-label>
    <input required matInput formControlName="alarmType">
    <mat-error *ngIf="clearAlarmConfigForm.get('alarmType').hasError('required')">
      {{ 'rule-node-config.alarm-type-required' | translate }}
    </mat-error>
    <mat-hint translate>rule-node-config.general-pattern-hint</mat-hint>
  </mat-form-field>
</section>
