<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section [formGroup]="logConfigForm" class="flex flex-col">
  <tb-script-lang formControlName="scriptLang" *ngIf="tbelEnabled"></tb-script-lang>
  <tb-js-func *ngIf="logConfigForm.get('scriptLang').value === scriptLanguage.JS"
              #jsFuncComponent
              formControlName="jsScript"
              functionName="ToString"
              [functionArgs]="['msg', 'metadata', 'msgType']"
              helpId="rulenode/log_node_script_fn"
              noValidate="true">
    <button toolbarSuffixButton
            mat-icon-button
            matTooltip="{{ testScriptLabel | translate }}"
            matTooltipPosition="above"
            class="tb-mat-32"
            (click)="testScript()">
      <mat-icon class="material-icons" color="primary">bug_report</mat-icon>
    </button>
  </tb-js-func>
  <tb-js-func *ngIf="logConfigForm.get('scriptLang').value === scriptLanguage.TBEL"
              #tbelFuncComponent
              formControlName="tbelScript"
              functionName="ToString"
              [functionArgs]="['msg', 'metadata', 'msgType']"
              [disableUndefinedCheck]="true"
              [scriptLanguage]="scriptLanguage.TBEL"
              helpId="rulenode/tbel/log_node_script_fn"
              noValidate="true">
    <button toolbarSuffixButton
            mat-icon-button
            matTooltip="{{ testScriptLabel | translate }}"
            matTooltipPosition="above"
            class="tb-mat-32"
            (click)="testScript()">
      <mat-icon class="material-icons" color="primary">bug_report</mat-icon>
    </button>
  </tb-js-func>
  <div class="flex flex-row">
    <button mat-button mat-raised-button color="primary" (click)="testScript()">
      {{ testScriptLabel | translate }}
    </button>
  </div>
</section>
