<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section [formGroup]="logConfigForm" class="flex flex-col">
  @if (tbelEnabled) {
    <tb-script-lang formControlName="scriptLang"></tb-script-lang>
  }
  @if (logConfigForm.get('scriptLang').value === scriptLanguage.JS) {
    <tb-js-func
      #jsFuncComponent
      formControlName="jsScript"
      functionName="ToString"
      [functionArgs]="['msg', 'metadata', 'msgType']"
      helpId="rulenode/log_node_script_fn"
      noValidate="true">
      <button toolbarSuffixButton
              mat-icon-button
              matTooltip="{{ testScriptLabel | translate }}"
              matTooltipPosition="above"
              class="tb-mat-32"
              (click)="testScript()">
        <mat-icon class="material-icons" color="primary">bug_report</mat-icon>
      </button>
    </tb-js-func>
  }
  @if (logConfigForm.get('scriptLang').value === scriptLanguage.TBEL) {
    <tb-js-func
      #tbelFuncComponent
      formControlName="tbelScript"
      functionName="ToString"
      [functionArgs]="['msg', 'metadata', 'msgType']"
      [disableUndefinedCheck]="true"
      [scriptLanguage]="scriptLanguage.TBEL"
      helpId="rulenode/tbel/log_node_script_fn"
      noValidate="true">
      <button toolbarSuffixButton
              mat-icon-button
              matTooltip="{{ testScriptLabel | translate }}"
              matTooltipPosition="above"
              class="tb-mat-32"
              (click)="testScript()">
        <mat-icon class="material-icons" color="primary">bug_report</mat-icon>
      </button>
    </tb-js-func>
  }
  <div class="flex flex-row">
    <button mat-button mat-raised-button color="primary" (click)="testScript()">
      {{ testScriptLabel | translate }}
    </button>
  </div>
</section>
