<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section [formGroup]="pushToEdgeConfigForm" class="tb-form-panel no-border no-padding">
  <div class="tb-form-panel stroked">
    <tb-example-hint [hintText]="'rule-node-config.attributes-scope-hint'">
    </tb-example-hint>
    <div class="tb-form-row no-border no-padding tb-standard-fields">
      <mat-form-field class="flex">
        <mat-label>{{ 'rule-node-config.attributes-scope' | translate }}</mat-label>
        <mat-select required
                    class="tb-entity-type-select" matInput formControlName="scope">
          <mat-option *ngFor="let scope of attributeScopes" [value]="scope">
            {{ telemetryTypeTranslationsMap.get(scope) | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="flex">
        <mat-label>{{ 'rule-node-config.attributes-scope-value' | translate }}</mat-label>
        <input type="text" matInput readonly disabled [ngModel]="pushToEdgeConfigForm.get('scope').value" [ngModelOptions]="{standalone: true}">
        <button type="button"
                matSuffix
                mat-icon-button
                aria-label="Copy"
                ngxClipboard
                [cbContent]="pushToEdgeConfigForm.get('scope').value"
                matTooltip="{{ 'rule-node-config.attributes-scope-value-copy' | translate }}">
          <mat-icon aria-hidden="false"
                    aria-label="help-icon">content_copy
          </mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</section>
