<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section [formGroup]="rpcRequestConfigForm" class="flex flex-col">
  <mat-form-field class="mat-block flex-1">
    <mat-label translate>rule-node-config.timeout-sec</mat-label>
    <input type="number" min="0" step="1" matInput formControlName="timeoutInSeconds" required>
    <mat-error *ngIf="rpcRequestConfigForm.get('timeoutInSeconds').hasError('required')">
      {{ 'rule-node-config.timeout-required' | translate }}
    </mat-error>
    <mat-error *ngIf="rpcRequestConfigForm.get('timeoutInSeconds').hasError('min')">
      {{ 'rule-node-config.min-timeout-message' | translate }}
    </mat-error>
  </mat-form-field>
</section>
