<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section [formGroup]="sendRestApiCallReplyConfigForm" class="tb-form-panel stroked no-padding-bottom">
  <div class="tb-form-panel-title" translate>rule-node-config.reply-routing-configuration</div>
  <tb-example-hint [hintText]="'rule-node-config.reply-routing-configuration-hint'">
  </tb-example-hint>
  <div class="tb-form-row no-border no-padding tb-standard-fields column-xs">
    <mat-form-field class="flex">
      <mat-label translate>rule-node-config.service-id-metadata-attribute</mat-label>
      <input matInput formControlName="serviceIdMetaDataAttribute">
    </mat-form-field>
    <mat-form-field class="flex">
      <mat-label translate>rule-node-config.request-id-metadata-attribute</mat-label>
      <input matInput formControlName="requestIdMetaDataAttribute">
    </mat-form-field>
  </div>
</section>
