<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<div class="flex flex-row items-center gap-4">
  <tb-report-template-filter
    [ngModel]="entitiesTableConfig.componentsData.reportTemplateFilter"
    (ngModelChange)="reportTemplateFilterChanged($event)">
  </tb-report-template-filter>
  <mat-slide-toggle
    [ngModel]="entitiesTableConfig.componentsData.includeCustomers"
    (ngModelChange)="includeCustomersChanged($event)">
    {{ includeCustomersLabel | translate }}
  </mat-slide-toggle>
</div>
