// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
@import "constants";

.tb-report-template {
  width: 100%;
  height: 100%;
  .tb-report-template-toolbar {
    height: 56px;
    min-height: 56px;
    padding: 0 16px;
    & > div {
      height: 56px;
    }
    .mat-toolbar-tools {
      padding: 0;
      height: 56px;
      width: auto;
    }
    .tb-breadcrumb-divider {
      width: 20px;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      overflow: hidden;
      color: currentColor;
      @media #{$mat-lt-md} {
        display: none;
      }
    }
    .tb-report-template-title {
      overflow: hidden;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      outline: none;
      @media #{$mat-lt-md} {
        font-size: 24px;
        line-height: 32px;
      }
    }
    .mat-divider-vertical.tb-toolbar-divider {
      height: 100%;
    }
  }
  .tb-report-template-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    &.tb-close-library {
      .tb-report-components-library {
        transform: translate3d(-100%, 0, 0);
        margin-right: -251px;
      }
    }
  }
  .tb-dynamic-panel {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .tb-report-components-library {
    box-sizing: content-box;
    z-index: 1;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-right: var(--mat-sidenav-container-divider-color) 1px solid;
    transition-property: transform, margin-right;
  }
  .tb-report-template-content {
    position: relative;
    z-index: 0;
    padding: 16px 8px;
    overflow: auto;
    flex: 1;
    .tb-report-content-scroll-wrapper {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 56px;
      height: 56px;
      button.tb-report-content-scroll-button {
        &.tb-animate {
          animation: tbMoveFromBottomFade .3s ease both;

          &.tb-hide {
            animation: tbMoveToBottomFade .3s ease both;
          }
        }
        &.tb-hide:not(.tb-animate) {
          display: none;
        }
        position: fixed;
        z-index: 2;
        --mat-fab-container-color: var(--tb-primary-contrast-500);
        --mat-fab-foreground-color: var(--tb-primary-500);
        --mat-fab-container-color: var(--tb-primary-contrast-500);
        --mat-fab-foreground-color: var(--tb-primary-500);
        .mat-icon {
          transition: transform 300ms linear;
        }
        .mat-icon.tb-scroll-top {
          transform: rotate(180deg);
        }
      }
    }
    .tb-report-template-layout {
      width: 100%;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      .tb-report-template-sections {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
  .tb-report-settings {
    z-index: 2;
    width: 500px;
    border-left: var(--mat-sidenav-container-divider-color) 1px solid;
    transition-property: width;
    &.tb-report-component-settings {
      width: 700px;
    }
  }
}
