// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import './../scss/constants';

:host {
  .dialog-container {
    min-width: 750px !important;
    max-width: 750px !important;

    .mat-mdc-dialog-content {
      padding: 8px;
    }

    @media #{$mat-lt-md} {
      min-width: 100% !important;
    }
  }
}
