// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import './../scss/constants';

.rule-node-config {
  tb-json-object-edit.tb-rule-node-configuration-json {
    display: block;
    height: 300px;
  }

  .tb-rulenode-directive-error {
    font-size: 13px;
    font-weight: 400;
    color: rgb(221, 44, 0);
  }

  .tb-error {
    letter-spacing: 0.25px;
    color: var(--mat-theme-error, #f44336);
  }

  .tb-required::after {
    content: "*";
    font-size: 16px;
    color: #000000de;
  }

  .help-icon {
    color: #000000;
    opacity: .38;
    padding: unset;

    &:hover {
      color: $tb-primary-color;
      opacity: unset;
    }
  }

  .same-width-component-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    @media #{$mat-xs} {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 8px;
    }

    > * {
      flex: 1;
    }

    .flex-2 {
      flex: 2;
    }

    .third-width {
      max-width: 32%;
      @media #{$mat-xs} {
        max-width: 100%;
      }
    }
  }
}
