@mixin rule-node-colors {
  &.tb-filter-type {
    background-color: #f1e861;
  }

  &.tb-enrichment-type {
    background-color: #cdf14e;
  }

  &.tb-transformation-type {
    background-color: #79cef1;
  }

  &.tb-action-type {
    background-color: #f1928f;
  }

  &.tb-external-type {
    background-color: #fbc766;
  }

  &.tb-rule-chain-type {
    background-color: #d6c4f1;
  }

  &.tb-unknown-type {
    background-color: #f16c29;
  }

}
