:host {
  tb-json-object-edit.tb-rule-node-configuration-json {
    display: block;
    height: 300px;
  }

  .tb-rulenode-directive-error {
    font-size: 13px;
    font-weight: 400;
    color: rgb(221, 44, 0);
  }
}
