// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
.tb-empty-report-config {
  .tb-report-component-title {
    font-weight: bold;
    font-size: 32px;
    color: rgba(0,0,0,0.37);
  }
}
