<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<div class="tb-form-panel no-border h-full" [formGroup]="reportConfigForm">
  <div class="tb-report-component-config-header">
    <tb-toggle-select [(ngModel)]="settingsTab" [ngModelOptions]="{standalone: true}" appearance="fill">
      <tb-toggle-option value="content">{{ 'report-template.content' | translate }}</tb-toggle-option>
      <tb-toggle-option value="data">{{ 'report-template.data' | translate }}</tb-toggle-option>
      <tb-toggle-option value="layout">{{ 'report-template.layout' | translate }}</tb-toggle-option>
    </tb-toggle-select>
  </div>
  <tb-report-heading class="overflow-y-auto"
                     [class.!hidden]="settingsTab !== 'content'"
                     [variableNames]="variableNames()"
                     formControlName="heading"></tb-report-heading>
  <tb-datasources class="overflow-y-auto"
                  [class.!hidden]="settingsTab !== 'data'"
                  formControlName="dataSources"
                  stroked
                  reportMode
                  [dataSourcesOptions]="{
                    widgetType: widgetType.latest,
                    maxDatasources: -1,
                    datasourcesOptional: true,
                    dataKeysOptional: true,
                    allowFunctions: false
                  }"
                  hideDataKeyColor
                  [callbacks]="callbacks"
                  [aliasController]="context.aliasController">
  </tb-datasources>
  <tb-report-component-layout-settings class="overflow-y-auto" [class.!hidden]="settingsTab !== 'layout'" formControlName="layout">
  </tb-report-component-layout-settings>
</div>
