<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<div class="tb-form-panel no-border no-padding" [formGroup]="settingsFormGroup">
  <div class="tb-form-row space-between">
    <div translate>report-template.paddings</div>
    <tb-report-insets formControlName="paddings"></tb-report-insets>
  </div>
  <div class="tb-form-row space-between">
    <div translate>report-template.margins</div>
    <tb-report-insets formControlName="margins"></tb-report-insets>
  </div>
  <div class="tb-form-row space-between">
    <div translate>report-template.background</div>
    <tb-color-input asBoxInput
                    colorClearButton
                    formControlName="background">
    </tb-color-input>
  </div>
  <div class="tb-form-row space-between">
    <div translate>report-template.border</div>
    <div class="flex flex-row items-center justify-start gap-2">
      <div class="tb-small-label" translate>report-template.width</div>
      <mat-form-field appearance="outline" class="number" subscriptSizing="dynamic">
        <input matInput formControlName="borderWidth" type="number" min="0" step="1" placeholder="{{ 'widget-config.set' | translate }}">
        <div matSuffix>pt</div>
      </mat-form-field>
      <mat-divider vertical></mat-divider>
      <div class="tb-small-label" translate>report-template.radius</div>
      <mat-form-field appearance="outline" class="number" subscriptSizing="dynamic">
        <input matInput formControlName="borderRadius" type="number" min="0" step="1" placeholder="{{ 'widget-config.set' | translate }}">
        <div matSuffix>pt</div>
      </mat-form-field>
      <mat-divider vertical></mat-divider>
      <tb-color-input asBoxInput
                      colorClearButton
                      formControlName="borderColor">
      </tb-color-input>
    </div>
  </div>
</div>
