// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
body.tb-report-component, tb-report-component .tb-report-component {
  font-family: Roboto, sans-serif;;
  font-size: 12pt;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0,0,0,0.87);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: normal;
    letter-spacing: normal;
    font-weight: bold;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: 1em 0;
  }
  h4 {
    font-size: 1em;
    margin: 1.33em 0;
  }
  h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
  }
  h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
  }
  pre {
    line-height: normal;
    font-size: 1em;
    font-family: monospace;
    margin: 1em 0;
    white-space: normal;
  }
  p {
    line-height: normal;
    letter-spacing: normal;
    font-size: 1em;
    margin: 1em 0;
  }
  strong {
    font-weight: bold;
  }
  img {
    display: inline-block;
  }
  hr {
    margin: 0.5em 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.67);
    border-bottom-width: 2px;
    border-top-width: 0;
  }
  table.tb-report-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    tr {
      height: 2em;
    }
    th, td {
      overflow: hidden;
      padding: 2px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.87);
      border-right: 1px solid rgba(0, 0, 0, 0.87);
      &:first-child {
        border-left: 1px solid rgba(0, 0, 0, 0.87);
      }
    }
    th {
      border-top: 1px solid rgba(0, 0, 0, 0.87);
    }
    th.tb-report-table-heading {
      border-bottom: 0;
    }
    &:not(.tb-plain-table) {
      th {
        text-align: center;
      }
      th.tb-report-table-heading {
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
    }
    &.tb-plain-table {
      th {
        text-align: left;
        font-weight: normal;
      }
    }
  }
}
