// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
:host {
  .fields-group {
    padding: 0 16px 8px;
    margin-bottom: 10px;
    border: 1px groove rgba(0, 0, 0, .25);
    border-radius: 4px;

    legend {
      color: rgba(0, 0, 0, .7);
      width: fit-content;
    }

    legend + * {
      display: block;
      margin-top: 16px;
    }

    & > section {
      margin-top: 16px;
    }

    .row {
      margin-bottom: 8px;
    }
  }
}
