<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section [formGroup]="timeUnitSelectFormGroup" class="flex flex-row xs:flex-col gt-xs:gap-2">
  <mat-form-field class="mat-block flex-1" [appearance]="appearance">
    <mat-label>{{ labelText | translate }}</mat-label>
    <input matInput type="number" min="0" formControlName="time" required>
    @if (timeUnitSelectFormGroup.get('time').hasError('required')) {
      <mat-error>
        {{ requiredText | translate }}
      </mat-error>
    }
    @if (timeUnitSelectFormGroup.get('time').hasError('pattern')) {
      <mat-error>
        {{ patternText | translate }}
      </mat-error>
    }
    @if (timeUnitSelectFormGroup.get('time').hasError('min')) {
      <mat-error>
        {{ (minText || patternText) | translate : {min: minTime/1000} }}
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field class="mat-block flex-1" [appearance]="appearance">
    <mat-label translate>device-profile.condition-duration-time-unit</mat-label>
    <mat-select formControlName="unit">
      @for (timeUnit of timeUnits; track timeUnit) {
        <mat-option [value]="timeUnit">
          {{ timeUnitTranslations.get(timeUnit) | translate }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</section>
