<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div class="tb-entity-list-select flex flex-row" [formGroup]="entityListSelectFormGroup">
  @if (displayEntityTypeSelect) {
    <tb-entity-type-select
      [inlineField]="inlineField"
      [class.flex-1]="inlineField && !modelValue.entityType"
      style="min-width: 100px; padding-right: 8px;"
      [showLabel]="true"
      [required]="required"
      subscriptSizing="dynamic"
      [useAliasEntityTypes]="useAliasEntityTypes"
      [allowedEntityTypes]="allowedEntityTypes"
      [filterAllowedEntityTypes]="filterAllowedEntityTypes"
      [additionEntityTypes]="additionEntityTypes"
      [appearance]="appearance"
      formControlName="entityType">
    </tb-entity-type-select>
  }
  @if (modelValue.entityType) {
    <tb-entity-list
      class="flex-1"
      [inlineField]="inlineField"
      [class.tb-not-empty]="modelValue.ids?.length > 0"
      [required]="required"
      [entityType]="modelValue.entityType"
      [useEntityDisplayName]="useEntityDisplayName"
      [appearance]="appearance"
      formControlName="entityIds">
    </tb-entity-list>
  }
</div>
