<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field [formGroup]="entityTypeListFormGroup"
                [appearance]="appearance"
                class="mat-block" [class]="additionalClasses"
                [floatLabel]="floatLabel"
                subscriptSizing="{{ subscriptSizing }}">
  <mat-label *ngIf="label"> {{ label }}</mat-label>
  <mat-chip-grid #chipList formControlName="entityTypeList">
    <mat-chip-row
      *ngFor="let entityType of entityTypeList"
      [removable]="!disabled"
      (removed)="remove(entityType)">
      {{entityType.name}}
      <mat-icon matChipRemove *ngIf="!disabled">close</mat-icon>
    </mat-chip-row>
    <input matInput type="text" placeholder="{{ !disabled ? ((!entityTypeList || !entityTypeList.length) ? placeholder : secondaryPlaceholder) : '' }}"
           style="max-width: 200px;"
           #entityTypeInput
           (focusin)="onFocus()"
           formControlName="entityType"
           matAutocompleteOrigin
           #origin="matAutocompleteOrigin"
           [matAutocompleteConnectedTo]="origin"
           [matAutocomplete]="entityTypeAutocomplete"
           [matChipInputFor]="chipList">
  </mat-chip-grid>
  <mat-autocomplete #entityTypeAutocomplete="matAutocomplete"
                    class="tb-autocomplete"
                    [displayWith]="displayEntityTypeFn">
    <mat-option *ngFor="let entityType of filteredEntityTypeList | async" [value]="entityType">
      <span [innerHTML]="entityType.name | highlight:searchText"></span>
    </mat-option>
    <mat-option *ngIf="!(filteredEntityTypeList | async)?.length" [value]="null">
      <span>
          {{ translate.get('entity.no-entity-types-matching', {entityType: searchText}) | async }}
      </span>
    </mat-option>
  </mat-autocomplete>
  <div matSuffix>
    <ng-content select="[matSuffix]"></ng-content>
  </div>
  <mat-error *ngIf="entityTypeListFormGroup.get('entityTypeList').hasError('required')">
    {{ 'entity.entity-type-list-required' | translate }}
  </mat-error>
</mat-form-field>
