<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field [formGroup]="keysListFormGroup" class="mat-block tb-chip-list" [appearance]="appearance">
  @if (label) {
  <mat-label>{{ label | translate }}</mat-label>
}
  <mat-chip-grid #chipList [disabled]="disabled">
    @for (key of modelValue; track key) {
      <mat-chip-row
        [removable]="!disabled"
        (removed)="remove(key)">
        {{key}}
        @if (!disabled) {
          <mat-icon matChipRemove>close</mat-icon>
        }
      </mat-chip-row>
    }
    <input matInput type="text" placeholder="{{ !disabled ? (keysText | translate) : '' }}"
           style="max-width: 200px;"
           #keyInput
           formControlName="key"
           matAutocompleteOrigin
           #origin="matAutocompleteOrigin"
           [matAutocompleteConnectedTo]="origin"
           (focusin)="onFocus()"
           [matAutocomplete]="keyAutocomplete"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           matChipInputAddOnBlur
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-grid>
  <mat-autocomplete #keyAutocomplete="matAutocomplete"
                    class="tb-autocomplete"
                    (optionSelected)="selected($event)"
                    [displayWith]="displayKeyFn">
    @for (key of filteredKeys | async; track key) {
      <mat-option [value]="key">
        <span [innerHTML]="key | highlight:searchText"></span>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
