// SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
// SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1
@import "../../../../../../scss/constants";

:host {
  width: 780px;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-rows: min-content 4px minmax(auto, 1fr) min-content min-content;
}

:host-context(.tb-fullscreen-dialog .mat-mdc-dialog-container) {
  .mat-mdc-dialog-content {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
  }

  .tb-dialog-actions {
    grid-row: 5;
    display: flex;
  }

  .mat-divider {
    grid-row: 4;
  }

  .tb-title {
    font-size: 16px;
    line-height: 24px;

    &.tb-required::after {
      font-size: initial;
      content: "*";
    }

    &.tb-error {
      color: var(--mat-theme-error, #f44336);

      &.tb-required::after {
        color: var(--mat-theme-error, #f44336);
      }
    }
  }

  .toggle {
    margin-bottom: 16px;
  }

  .tb-hint {
    padding: 0 0 8px;
  }

  .delivery-methods-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 8px;
  }
}

:host ::ng-deep {
  .mat-mdc-dialog-content {
    .mat-stepper-horizontal {
      display: flex;
      height: 100%;
      overflow: hidden;

      .mat-horizontal-stepper-wrapper {
        flex: 1 1 100%;
        width: 100%;
      }

      .mat-horizontal-content-container {
        height: 550px;
        max-height: 100%;
        width: 100%;;
        overflow-y: auto;
        scrollbar-gutter: stable;
        padding-top: 4px;
        @media #{$mat-gt-sm} {
          min-width: 500px;
        }
      }
      .mat-horizontal-stepper-content[aria-expanded=true] {
        height: 100%;
        position: relative;
      }
    }
  }

  .mat-radio-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;

    .mat-radio-button {
      flex: 1 1 100%;
      padding: 14px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 6px;

      .mat-radio-label {
        white-space: break-spaces;
        align-items: start;
      }

      &:not(:last-child){
        margin-bottom: 8px;
      }

      &.mat-radio-checked {
        border-color: var(--tb-accent-500);
      }
    }
  }

  .mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 0px;

      .mat-form-field-underline {
        position: initial !important;
        display: block;
        margin-top: -1px;
      }

      .mat-form-field-subscript-wrapper,
      .mat-form-field-ripple {
        position: initial !important;
        display: table;
      }

      .mat-form-field-subscript-wrapper {
        min-height: calc(1em + 1px);
      }
    }
  }
}
