<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
@if (isTenantOtaUpdate() && ([resource.VERSION_CONTROL, resource.OTA_PACKAGE] | hasGenericPermission: operation.READ)) {
  <mat-tab label="{{ 'version-control.version-control' | translate }}" #versionControlTab="matTab">
    <tb-version-control detailsMode="true" singleEntityMode="true"
                        (versionRestored)="entitiesTableConfig.updateData()"
    [active]="versionControlTab.isActive" [entityId]="entity.id" [entityName]="entity.title" [externalEntityId]="entity.externalId || entity.id"></tb-version-control>
  </mat-tab>
}
