// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../../../../scss/constants";

:host {
  .mini-button {
    height: 32px;
    width: 32px;
    line-height: 32px;
    padding: 4px;
    vertical-align: middle;
  }

  .mat-icon.copied{
    color: #00C851 !important;
  }
  &:hover{
    .mat-icon{
      color: $tb-primary-color !important;
    }
  }
}
