// SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
// SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1
:host {
  .mini-button {
    height: 32px;
    width: 32px;
    line-height: 32px;
    padding: 4px;
    vertical-align: middle;
  }

  .mat-icon.copied{
    color: #00C851 !important;
  }
  &:hover{
    .mat-icon{
      color: var(--tb-primary-500) !important;
    }
  }
}
