<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.thingsboard.server.dao" level="WARN"/>
    <logger name="org.testcontainers" level="INFO" />
    <logger name="org.thingsboard.server.dao.sqlts" level="INFO" />
    <logger name="org.thingsboard.server.dao.sqlts.CachedRedisSqlTimeseriesLatestDao" level="DEBUG" />
    <logger name="org.thingsboard.server.dao.sqlts.SqlTimeseriesLatestDao" level="TRACE" />
    <logger name="org.thingsboard.server.dao.timeseries.TsLatestRedisCache" level="TRACE" />


    <!-- Log Hibernate SQL queries -->
    <!-- <logger name="org.hibernate.SQL" level="DEBUG"/> -->
    <!-- <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" /> -->

    <!-- Avoiding multiple logs like: The cache 'relations' is not recording statistics. No meters except 'cache.size' will be registered. Call 'Caffeine#recordStats()' prior to building the cache for metrics to be recorded.-->
    <logger name="io.micrometer.core.instrument.binder.cache.CaffeineCacheMetrics" level="ERROR"/>

    <root level="WARN">
        <appender-ref ref="console"/>
    </root>

</configuration>
