// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@use '../../../../../../../scss/constants' as constants;

$panel-width: 520px;

:host {
  display: flex;
  width: $panel-width;
  max-width: 100%;
  max-height: 100vh;

  .fixed-title-width {
    @media #{constants.$mat-xs} {
      min-width: 120px;
    }
  }

  .limit-field-row {
    @media screen and (max-width: $panel-width) {
      display: flex;
      flex-direction: column;

      .fixed-title-width {
        align-self: flex-start;
        padding-top: 8px;
      }
    }
  }
}

:host ::ng-deep {
  .time-interval-field {
    .advanced-input {
      flex-direction: column;
    }
  }
}
