<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.thingsboard.server" level="INFO"/>
    <!-- Handy while developing new controllers: uncomment for request-level detail. -->
    <!-- <logger name="org.thingsboard.server.controller" level="DEBUG"/> -->
    <!-- <logger name="org.springframework.web" level="DEBUG"/> -->
    <logger name="org.thingsboard.server.install" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
