<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<h2 mat-dialog-title>{{data.title}}</h2>
<ng-container *ngIf="data.textMode; else htmlMode">
  <div mat-dialog-content [innerText]="data.message"></div>
</ng-container>
<ng-template #htmlMode>
  <div mat-dialog-content [innerHTML]="data.message | safe:'html'"></div>
</ng-template>
<div mat-dialog-actions class="flex items-center justify-end">
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>{{data.ok}}</button>
</div>
