// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../scss/constants";

:host {
  .tb-close-button {
    position: absolute;
    top: 6px;
    right: 6px;
  }
  ::ng-deep {
    .mat-mdc-dialog-content {
      max-height: 100%;
      overflow: hidden;
      padding: 12px 4px 12px 12px !important;
    }
    .tb-color-picker-panel {
      @media #{$mat-sm} {
        width: 342px;
        .color-input-container {
          flex-direction: column !important;
        }
        .color-presets-component color-preset {
          width: 48px;
        }
      }

      @media #{$mat-xs} {
        width: 100%;
        .hex-input {
          flex: 1;
          max-width: 100% !important;
        }
      }
    }
  }
}
