<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
<div mat-dialog-content>
  <tb-color-picker-panel [color]="color"
                         [defaultColor]="defaultColor"
                         colorCancelButton
                         [colorClearButton]="colorClearButton"
                         [useThemePalette]="useThemePalette"
                         [disableAlpha]="disableAlpha"
                         (colorCancelDialog)="cancel()"
                         (colorSelected)="selectColor($event)">
  </tb-color-picker-panel>
</div>
