// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .mat-mdc-dialog-content {
    padding: 0 24px 24px;
  }
  .tb-error-alert-dialog-content {
    .error-message-title {
      font-style: italic;
    }
    .error-message-content {
      color: red;
    }
    .error-details-content {
      display: block;
      border: solid 1px #d3d3d3;
      padding: 8px;
      border-radius: 4px;
    }
    & > *:not(:last-child) {
      padding-bottom: 16px;
    }
  }
}
