<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<form [formGroup]="jsonFormGroup" (ngSubmit)="add()" style="min-width: 400px;" class="h-full">
  <mat-toolbar class="flex flex-row" color="primary">
    <h2>{{ title }}</h2>
    <span class="flex-1"></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div style="height: 4px;"></div>
  <div mat-dialog-content class="flex-1">
    <tb-json-object-edit
      formControlName="json"
      class="block h-full"
      label="{{ 'value.json-value' | translate }}"
      [jsonRequired]="required"
      [fillHeight]="data.fillHeight">
    </tb-json-object-edit>
  </div>
  <div mat-dialog-actions class="flex flex-row items-center justify-end">
    <span class="flex-1"></span>
    <button mat-button color="primary"
            type="button"
            (click)="cancel()" cdkFocusInitial>
      {{ cancelButtonLabel }}
    </button>
    <button mat-button mat-raised-button color="primary"
            type="submit"
            [disabled]="jsonFormGroup.invalid || !jsonFormGroup.dirty">
      {{ saveButtonLabel }}
    </button>
  </div>
</form>
