<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<div class="request-feature-dialog">
  <div class="request-feature-title">{{ 'subscription.request-edge-title' | translate }}</div>
  <div class="request-feature-text">{{ 'subscription.request-edge-text' | translate }}</div>
  <div class="request-feature-cards-container">
    <div class="request-feature-cards">
      <div class="request-feature-card">
        <div class="feature-title">
          <tb-icon color="primary" class="tb-mat-24">battery_charging_full</tb-icon>
          <div class="feature-title-text">{{ 'subscription.edge-card-autonomy-title' | translate }}</div>
          <div class="feature-title-hint" tb-hint-tooltip-icon="{{ 'subscription.edge-card-autonomy-text' | translate }}"></div>
        </div>
        <div class="feature-text">{{ 'subscription.edge-card-autonomy-text' | translate }}</div>
      </div>
      <div class="request-feature-card">
        <div class="feature-title">
          <tb-icon color="primary" class="tb-mat-24">filter_list</tb-icon>
          <div class="feature-title-text">{{ 'subscription.edge-card-filtering-title' | translate }}</div>
          <div class="feature-title-hint" tb-hint-tooltip-icon="{{ 'subscription.edge-card-filtering-text' | translate }}"></div>
        </div>
        <div class="feature-text">{{ 'subscription.edge-card-filtering-text' | translate }}</div>
      </div>
      <div class="request-feature-card">
        <div class="feature-title">
          <tb-icon color="primary" class="tb-mat-24">speed</tb-icon>
          <div class="feature-title-text">{{ 'subscription.edge-card-latency-title' | translate }}</div>
          <div class="feature-title-hint" tb-hint-tooltip-icon="{{ 'subscription.edge-card-latency-text' | translate }}"></div>
        </div>
        <div class="feature-text">{{ 'subscription.edge-card-latency-text' | translate }}</div>
      </div>
      <div class="request-feature-card">
        <div class="feature-title">
          <tb-icon color="primary" class="tb-mat-24">mdi:shield-lock</tb-icon>
          <div class="feature-title-text">{{ 'subscription.edge-card-security-title' | translate }}</div>
          <div class="feature-title-hint" tb-hint-tooltip-icon="{{ 'subscription.edge-card-security-text' | translate }}"></div>
        </div>
        <div class="feature-text">{{ 'subscription.edge-card-security-text' | translate }}</div>
      </div>
      <div class="request-feature-card">
        <div class="feature-title">
          <tb-icon color="primary" class="tb-mat-24">settings</tb-icon>
          <div class="feature-title-text">{{ 'subscription.edge-card-efficiency-title' | translate }}</div>
          <div class="feature-title-hint" tb-hint-tooltip-icon="{{ 'subscription.edge-card-efficiency-text' | translate }}"></div>
        </div>
        <div class="feature-text">{{ 'subscription.edge-card-efficiency-text' | translate }}</div>
      </div>
    </div>
  </div>
  <div class="request-feature-actions">
    <div class="request-feature-action-text">{{ 'subscription.request-edge-action-text' | translate }}</div>
    <div class="flex flex-row gap-2">
      <button mat-flat-button color="primary" (click)="requestAccess($event)">
        {{ 'subscription.request-access' | translate }}
      </button>
      <button mat-button color="primary" (click)="learnMore($event)">
        {{ 'subscription.learn-more' | translate }}
      </button>
    </div>
  </div>
  <div class="request-feature-sysadmin-prompt">
    {{ 'subscription.request-feature-sysadmin-text' | translate }}
    <a href="" (click)="loginAsSysAdmin($event)"> {{ 'subscription.login-here' | translate }} </a>
    {{ 'subscription.to-get-addon' | translate }}
  </div>
</div>
