@import "../../../../../scss/constants";

:host-context(.tb-fullscreen-dialog .mat-dialog-container) {
  @media #{$mat-lt-sm} {
    .mat-dialog-content {
      max-height: 75vh;
    }
  }
}

:host ::ng-deep {
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;

    .mat-stepper-horizontal {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      @media #{$mat-lt-sm} {
        .mat-step-label {
          white-space: normal;
          overflow: visible;
          .mat-step-text-label {
            overflow: visible;
          }
        }
      }
      .mat-horizontal-content-container {
        height: 530px;
        max-height: 100%;
        width: 100%;;
        overflow-y: auto;
        @media #{$mat-gt-sm} {
          min-width: 800px;
        }
      }
      .mat-horizontal-stepper-content[aria-expanded=true] {
        height: 100%;
        form {
          height: 100%;
        }
      }
    }
  }
}
