// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host ::ng-deep {
  .mat-mdc-form-field-infix {
    width: 100% !important;
  }

  .mat-mdc-checkbox{
    &.hinted-checkbox {
      .mdc-checkbox {
        margin-top: -28px;
      }
    }
    .mdc-form-field {
      white-space: normal;
    }
  }
  .fields-group {
    padding: 0 16px 8px;
    margin-bottom: 10px;
    border: 1px groove rgba(0, 0, 0, .25);
    border-radius: 4px;
    legend {
      color: rgba(0, 0, 0, .7);
      width: fit-content;
    }
  }

  .mat-expansion-panel-header {
    height: 48px;
    &.mat-expanded {
      height: 48px;
    }
  }
  .expansion-panel-block {
    padding-bottom: 16px;
  }
}
