// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../../../../../scss/constants";

:host {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 4px auto min-content;

  @media #{$mat-gt-xs} {
    min-width: 420px;
  }
}

:host-context(.mat-mdc-dialog-container) {
  .tb-dialog-actions {
    grid-row: 4;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    flex: 1;
  }

  .mat-mdc-dialog-content {
    grid-row: 3;
    padding: 24px 24px 4px;
  }
}
