// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .tb-aggregation-options-form {
    height: 100%;
    max-width: 350px;

    .tb-form-table {
      overflow: hidden;
    }

    .tb-form-table-body {
      overflow-y: auto;
    }

    .tb-form-hint {
      flex-shrink: 0;
    }

    .mdc-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line {
        height: 40px;
      }
    }
  }
}

