// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../../../../../../scss/constants";

:host {
  form.tb-dialog-container {
    min-width: 600px;
    max-height: 100vh;
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-dialog-content {
    height: 85%;
  }

  .tb-title {
    display: block;
    padding-bottom: 6px;
  }

  .tb-notification-tenant-group {
    width: 280px;
    margin-bottom: 16px;
  }
}

:host ::ng-deep {
  .mat-mdc-radio-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
    gap: 12px;

    .mat-mdc-radio-button {
      flex: 1 1 100%;
      padding: 4px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 6px;
    }
  }

  @media #{$mat-xs} {
    .mat-mdc-radio-group {
      flex-direction: column;
    }
  }
}
