// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.tb-scada-symbol-metadata-tag-row {
  .tb-tag-field {
    flex: 1 1 70%;
  }
  .tb-state-render-function-field {
    flex: 1 1 15%;
  }
  .tb-on-click-action-field {
    flex: 1 1 15%;
  }
  .tb-state-render-function-field, .tb-on-click-action-field {
    display: flex;
    justify-content: flex-end;
    .mdc-button {
      .mat-mdc-button-touch-target {
        height: 36px;
      }
    }
  }
}
