<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div [formGroup]="tagFormGroup" class="tb-form-table-row tb-scada-symbol-metadata-tag-row">
  <div class="tb-tag-field">
    <mat-chip-set>
      <mat-chip>
        <span class="tb-scada-symbol-metadata-tag-label">
          {{ tagFormGroup.get('tag').value }}
        </span>
      </mat-chip>
    </mat-chip-set>
  </div>
  <div class="tb-state-render-function-field">
    <button *ngIf="!disabled || tagFormGroup.get('stateRenderFunction').value"
            #editStateRenderFunctionButton
            mat-button
            color="primary"
            (click)="editTagStateRenderFunction()">
      <mat-icon>{{ disabled ? 'visibility' :  (tagFormGroup.get('stateRenderFunction').value ? 'edit' : 'add') }}</mat-icon>
      <span>{{ ( disabled ? 'action.view' : (tagFormGroup.get('stateRenderFunction').value ? 'action.edit' : 'action.add') ) | translate }}</span>
    </button>
  </div>
  <div class="tb-on-click-action-field">
    <button *ngIf="!disabled || tagFormGroup.get('clickAction').value"
            #editClickActionButton
            mat-button
            color="primary"
            (click)="editClickAction()">
      <mat-icon>{{ disabled ? 'visibility' : (tagFormGroup.get('clickAction').value ? 'edit' : 'add') }}</mat-icon>
      <span>{{ ( disabled ? 'action.view' : (tagFormGroup.get('clickAction').value ? 'action.edit' : 'action.add') ) | translate }}</span>
    </button>
  </div>
</div>
