// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.tb-scada-symbol-behaviors {
  flex: 1;
  margin: 12px;
  .tb-form-table-header-cell {
    &.tb-id-header {
      flex: 1 1 40%;
    }
    &.tb-name-header {
      flex: 1 1 40%;
    }
    &.tb-type-header {
      flex: 1 1 20%;
    }
    &.tb-actions-header {
      width: 120px;
      min-width: 120px;
      &.disabled {
        width: 40px;
        min-width: 40px;
      }
    }
  }
  .tb-form-table {
    overflow: hidden;
  }
  .tb-form-table-body {
    overflow: auto;
    tb-scada-symbol-metadata-behavior-row {
      overflow: hidden;
    }
  }
}
