// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.tb-scada-symbol-metadata-behavior-row {
  .tb-id-field {
    flex: 1 1 40%;
  }
  .tb-name-field {
    flex: 1 1 40%;
  }
  .tb-type-field {
    flex: 1 1 20%;
  }
}
