<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<section [formGroup]="rabbitMqIntegrationConfigForm">
  <div class="flex flex-row xs:flex-col gt-xs:gap-2">
    <mat-form-field appearance="outline" class="mat-block flex-1">
      <mat-label translate>integration.host</mat-label>
      <input matInput required formControlName="host">
      @if (rabbitMqIntegrationConfigForm.get('host').hasError('required')) {
        <mat-error translate>integration.host-required
        </mat-error>
      }
      @if (rabbitMqIntegrationConfigForm.get('host').hasError('privateNetwork')) {
        <mat-error translate>integration.host-private
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="mat-block flex-1">
      <mat-label translate>integration.port</mat-label>
      <input matInput type="number" step="1" min="1" max="65535" required formControlName="port">
      @if (rabbitMqIntegrationConfigForm.get('port').hasError('required')) {
        <mat-error translate>integration.port-required
        </mat-error>
      }
      @if (rabbitMqIntegrationConfigForm.get('port').hasError('min')) {
        <mat-error translate>integration.port-range</mat-error>
      }
      @if (rabbitMqIntegrationConfigForm.get('port').hasError('max')) {
        <mat-error translate>integration.port-range</mat-error>
      }
    </mat-form-field>
  </div>

  <fieldset class="fields-group">
    <legend class="group-title" translate>integration.queue</legend>
    <mat-form-field appearance="outline" class="mat-block">
      <mat-label translate>integration.name</mat-label>
      <input matInput formControlName="queues" required>
      @if (rabbitMqIntegrationConfigForm.get('queues').hasError('required')) {
        <mat-error translate>integration.queue-required</mat-error>
      }
    </mat-form-field>
    <div class="flex flex-col gap-2">
      <mat-slide-toggle class="mat-block" formControlName="durable">
        {{ 'integration.durable' | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle class="mat-block" formControlName="exclusive">
        {{ 'integration.exclusive' | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle class="mat-block" formControlName="autoDelete">
        {{ 'integration.autoDelete' | translate }}
      </mat-slide-toggle>
    </div>
  </fieldset>

  <ng-container [ngTemplateOutlet]="executeRemotelyTemplate">
  </ng-container>

  <mat-expansion-panel class="configuration-panel">
    <mat-expansion-panel-header>
      <mat-panel-description class="flex items-stretch justify-end" translate>
        integration.advanced-settings
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="flex flex-row xs:flex-col gt-xs:gap-2">
        <mat-form-field appearance="outline" class="mat-block flex-1">
          <mat-label translate>integration.username</mat-label>
          <input matInput formControlName="username" autocomplete="new-username">
        </mat-form-field>
        <tb-secret-key-input formControlName="password" class="mat-block flex-1" appearance="outline"
                             label="{{ 'integration.password' | translate }}">
        </tb-secret-key-input>
      </div>
      <div class="flex flex-row xs:flex-col gt-xs:gap-2">
        <mat-form-field appearance="outline" class="mat-block flex-1">
          <mat-label translate>integration.downlink-topic</mat-label>
          <input matInput formControlName="downlinkTopic">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-block flex-1">
          <mat-label translate>integration.exchange-name</mat-label>
          <input matInput formControlName="exchangeName">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-block flex-1">
          <mat-label translate>integration.virtual-host</mat-label>
          <input matInput formControlName="virtualHost">
        </mat-form-field>
      </div>
      <div class="flex flex-row xs:flex-col gt-xs:gap-2">
        <mat-form-field appearance="outline" class="mat-block flex-1">
          <mat-label translate>integration.connection-timeout</mat-label>
          <input matInput type="number" formControlName="connectionTimeout" step="1" min="0">
          @if (rabbitMqIntegrationConfigForm.get('connectionTimeout').hasError('min')) {
            <mat-error translate>integration.connection-timeout-min
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-block flex-1">
          <mat-label translate>integration.handshake-timeout</mat-label>
          <input matInput type="number" formControlName="handshakeTimeout" step="1" min="0">
          @if (rabbitMqIntegrationConfigForm.get('handshakeTimeout').hasError('min')) {
            <mat-error translate>integration.handshake-timeout-min
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-block flex-1">
          <mat-label translate>integration.rabbit-mq-poll-interval</mat-label>
          <input matInput type="number" formControlName="pollPeriod" step="1" min="200">
          @if (rabbitMqIntegrationConfigForm.get('pollPeriod').hasError('min')) {
            <mat-error translate>integration.rabbit-mq-poll-interval-min
            </mat-error>
          }
        </mat-form-field>
      </div>
      <ng-container [ngTemplateOutlet]="genericAdditionalInfoTemplate">
      </ng-container>
    </ng-template>
  </mat-expansion-panel>

</section>
