<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field class="mat-block" appearance="outline" subscriptSizing="dynamic">
  <mat-label translate>event.event-type</mat-label>
  <mat-select [ngModel]="eventTableConfig.eventType"
              (ngModelChange)="eventTypeChanged($event)">
    @for (type of eventTableConfig.eventTypes; track type) {
      <mat-option [value]="type">
        {{ eventTypeTranslationsMap.get(type) | translate }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
