// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../scss/constants';

:host {
/*  flex: 1;
  display: flex;
  justify-content: flex-start; */
  padding-right: 8px;
  min-width: 160px;
}

