// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
@import "../../../../../scss/constants";
@import '../../../../../scss/mixins';

:host {
  position: relative;
  height: 100%;
}

:host ::ng-deep {
  mat-cell.mat-column-description {
    white-space: nowrap;
    .mat-mdc-icon-button {
      vertical-align: middle;
      margin-left: 8px;
      @include tb-mat-icon-button-size(32);
      .mat-icon {
        @include tb-mat-icon-size(20);
      }
    }
    span {
      display: inline-block;
      max-width: 80ch;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      pointer-events: none;
    }
  }
}
