// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .fetch-to-data-toggle {
    max-width: 420px;
    width: 100%;
  }

  .fx-centered {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
