// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
$conflict-dialog-width: 530px;

:host {
  .main-label {
    padding-left: 8px;
  }

  .message-container {
    max-width: #{$conflict-dialog-width};
  }
}
