<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-toolbar color="primary">
  <h2 translate>notification.failed-send</h2>
  <span class="flex-1"></span>
  <button mat-icon-button
          (click)="cancel()"
          type="button">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
  <div *ngFor="let errorStat of errorStats | keyvalue; last as isLast">
    <h6>{{ NotificationDeliveryMethodInfoMap.get(errorStat.key).name | translate }}</h6>
    <table class="tb-table-list">
      <tr *ngFor="let error of errorStat.value | keyvalue">
        <td>
          <mat-chip>{{ error.key }}</mat-chip>
        </td>
        <td class="tb-row-error">{{ error.value }}</td>
      </tr>
    </table>
    <mat-divider *ngIf="!isLast"></mat-divider>
  </div>
</div>
