// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../../../../scss/constants";

:host {
  width: 100%;
}

::ng-deep {
  .tb-autocomplete.tb-rule-chain-search {
    .mat-mdc-option.tb-selected-option {
      display: flex;
      flex-direction: row-reverse;
      background-color: rgba(0, 0, 0, .04);

      mat-icon {
        margin-right: 0;
        margin-left: 16px;
        color: $tb-primary-color;
      }

      .mdc-list-item__primary-text {
        color: $tb-primary-color;
      }
    }
  }
}
