<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field class="tb-rule-select" subscriptSizing="dynamic" appearance="fill"
                [class.cursor-pointer]="!disabled"
                (click)="openRuleChainSelectPanel($event)">
  <mat-icon matPrefix>settings_ethernet</mat-icon>
  <input matInput readonly disabled
         [required]="required"
         [value]="ruleChain?.name">
  <mat-icon [class.disabled]="disabled || panelOpened" matSuffix>arrow_drop_down</mat-icon>
</mat-form-field>
