<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<form [formGroup]="complexFilterFormGroup" (ngSubmit)="save()" style="width: 1200px;">
  <mat-toolbar class="tb-dialog-header">
    <h2 translate>filter.complex-filter</h2>
    <span class="flex-1"></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content>
    <section class="tb-form-panel">
      <div class="flex flex-row items-center justify-between">
        <div class="tb-form-panel-title">{{ 'filter.filters' | translate }}
        </div>
        <tb-toggle-select formControlName="operation"
                          selectMediaBreakpoint="xs">
          <tb-toggle-option [value]="complexOperationEnum.AND">{{ complexOperationTranslations.get(complexOperationEnum.AND) | translate }}</tb-toggle-option>
          <tb-toggle-option [value]="complexOperationEnum.OR">{{ complexOperationTranslations.get(complexOperationEnum.OR) | translate }}</tb-toggle-option>
        </tb-toggle-select>
      </div>
      <tb-filter-predicate-list
        [valueType]="data.valueType"
        [displayUserParameters]="data.displayUserParameters"
        [allowUserDynamicSource]="data.allowUserDynamicSource"
        [onlyUserDynamicSource]="data.onlyUserDynamicSource"
        [operation]="complexFilterFormGroup.get('operation').value"
        [key]="data.key"
        formControlName="predicates">
      </tb-filter-predicate-list>
    </section>
  </div>
  <div mat-dialog-actions class="flex items-center justify-end">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()"
            cdkFocusInitial>
      {{ (data.readonly ? 'action.close' : 'action.cancel') | translate }}
    </button>
    @if (!data.readonly) {
      <button mat-raised-button color="primary"
              type="submit"
              [disabled]="(isLoading$ | async) || complexFilterFormGroup.invalid || !complexFilterFormGroup.dirty">
        {{ (isAdd ? 'action.add' : 'action.update') | translate }}
      </button>
    }
  </div>
</form>
