:host {
  .tb-hint {
    padding-bottom: 0;
  }
}

:host ::ng-deep {
  mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-infix {
        border-top-width: 0.2em;
        width: auto;
        min-width: auto;
      }
      .mat-form-field-underline {
        bottom: 0;
      }
    }
  }
}
