<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section class="tb-filters-edit flex flex-row items-center justify-start" *ngIf="hasEditableFilters">
  <button mat-icon-button
          cdkOverlayOrigin #filtersEditPanelOrigin="cdkOverlayOrigin"
          (click)="openEditMode()"
          matTooltip="{{ 'filter.filters' | translate }}"
          [matTooltipPosition]="tooltipPosition">
    <mat-icon>filter_list</mat-icon>
  </button>
  <span class="lt-lg:!hidden"
        (click)="openEditMode()"
        matTooltip="{{ 'filter.filters' | translate }}"
        [matTooltipPosition]="tooltipPosition">
    {{ 'filter.filters' | translate }}
  </span>
</section>
