// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .mat-mdc-header-cell.mat-column-editable,
  .mat-mdc-cell.mat-column-editable,
  .mat-mdc-header-cell.mat-column-actions,
  .mat-mdc-cell.mat-column-actions {
    width: 1%;
    white-space: nowrap;
  }

  .mat-mdc-row:last-child .mat-mdc-cell {
    border-bottom: none;
  }
}