// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../scss/constants";

:host {
  .filter-title {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 500;
  }
  .no-data-found {
    height: 50px;
    font-size: 16px;
  }
  .filter-list {
    overflow: auto;
    max-height: 300px;

    &-divider {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .filters-text {
      font-size: 14px;
    }
  }
  .filters-operation {
    display: flex;
    justify-content: center;
    margin-top: -14px;
    &-container {
      background-color: white;
    }
    &-label {
      font-size: 15px;
      font-weight: 400;
      color: $tb-primary-color;
      padding: 0 8px;
      border-radius: 4px;
      border: 1px solid rgba($tb-primary-color, 0.32);
      background-color: rgba($tb-primary-color, 0.04);
    }
  }
}
