<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-toolbar color="primary" class="justify-between">
  <h2 translate>mobile.add-specific-page</h2>
  <button mat-icon-button
          (click)="cancel()"
          type="button">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
  <tb-mobile-page-item [formControl]="customMobilePage">
  </tb-mobile-page-item>
</div>
<div mat-dialog-actions class="justify-end">
  <button mat-button color="primary"
          type="button"
          [disabled]="(isLoading$ | async)"
          (click)="cancel()">
    {{ 'action.cancel' | translate }}
  </button>
  <button mat-raised-button color="primary"
          type="button"
          [disabled]="(isLoading$ | async) || customMobilePage.invalid || !customMobilePage.dirty"
          (click)="save()">
    {{ 'action.add' | translate }}
  </button>
</div>
