// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host{
  --mat-form-field-outlined-outline-color: rgba(0,0,0,0.12);

  .mobile-page-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
