// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../scss/constants';

.tb-default-mobile-page-panel {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  --mat-form-field-outlined-outline-color: rgba(0,0,0,0.12);
  @media #{$mat-lt-md} {
    width: 90vw;
  }
  .tb-default-mobile-page-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .tb-default-mobile-page-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }
  .tb-default-mobile-page-panel-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    margin: -10px;
    padding: 10px;
  }
  .tb-default-mobile-page-panel-buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
