[Unit]
Description=${pkg.name}
After=syslog.target

[Service]
User=${pkg.user}
ExecStart=${pkg.installFolder}/init/${pkg.name}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
