// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host ::ng-deep {
  .simpleMode {
    min-width: 0;

    .mat-slide {
      overflow: hidden;

      .mdc-form-field {
        width: 100%;

        .mdc-label {
          min-width: 0;
        }
      }
    }
  }
}
