<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
<mat-card appearance="outlined" class="settings-card">
  <mat-card-header>
    <mat-card-title>
      <span class="mat-headline-5" translate>admin.sms-provider-settings</span>
    </mat-card-title>
    <span class="flex-1"></span>
    <div tb-help="smsProviderSettings"></div>
  </mat-card-header>
  @if (isLoading$ | async) {
    <mat-progress-bar color="warn" mode="indeterminate">
    </mat-progress-bar>
  } @else {
    <div style="height: 4px;"></div>
  }
  <mat-card-content>
    <form [formGroup]="smsProvider" (ngSubmit)="save()">
      @if (isTenantAdmin()) {
        <mat-checkbox formControlName="useSystemSmsSettings" style="padding-bottom: 16px;">
          {{ 'admin.use-system-sms-settings' | translate }}
        </mat-checkbox>
      }
      @if (!smsProvider.get('useSystemSmsSettings').value) {
        <fieldset [disabled]="(isLoading$ | async) || readonly">
          <tb-sms-provider-configuration
            required
            formControlName="configuration">
          </tb-sms-provider-configuration>
        </fieldset>
      }
      <div class="flex flex-row items-center justify-end gap-4 xs:flex-col xs:items-stretch">
        @if (!smsProvider.get('useSystemSmsSettings').value && !readonly) {
          <button
            mat-raised-button
            type="button" style="margin-right: 16px;"
            [disabled]="(isLoading$ | async) || smsProvider.invalid" (click)="sendTestSms()">
            {{ 'admin.send-test-sms' | translate }}
          </button>
        }
        @if (!readonly) {
          <button mat-raised-button color="primary"
                  [disabled]="(isLoading$ | async) || smsProvider.invalid || !smsProvider.dirty"
                  type="submit">{{ 'action.save' | translate }}
          </button>
        }
      </div>
    </form>
  </mat-card-content>
</mat-card>
<form [formGroup]="notificationSettingsForm" (ngSubmit)="saveNotification()">
  <mat-card appearance="outlined" formGroupName="deliveryMethodsConfigs" class="settings-card">
    <mat-card-header>
      <mat-card-title>
        <span class="mat-headline-5" translate>admin.slack-settings</span>
      </mat-card-title>
      <span class="flex-1"></span>
      <div tb-help="slackSettings"></div>
    </mat-card-header>
    @if (isLoading$ | async) {
      <mat-progress-bar color="warn" mode="indeterminate">
      </mat-progress-bar>
    } @else {
      <div style="height: 4px;"></div>
    }
    <mat-card-content formGroupName="SLACK">
      <tb-secret-key-input formControlName="botToken"
        class="mat-block flex-1" appearance="outline"
        label="{{ 'admin.slack-api-token' | translate }}">
      </tb-secret-key-input>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>
        <span class="mat-headline-5" translate>admin.mobile-settings</span>
      </mat-card-title>
      <span class="flex-1"></span>
      <!--    <div tb-help="mobileSettings"></div>-->
    </mat-card-header>
    <mat-card-content formGroupName="MOBILE_APP">
      @if (isTenantAdmin()) {
        <mat-checkbox formControlName="useSystemSettings" style="padding-bottom: 8px;">
          {{ 'admin.use-system-mobile-settings' | translate }}
        </mat-checkbox>
      }
      @if (!notificationSettingsForm.get('deliveryMethodsConfigs.MOBILE_APP.useSystemSettings').value) {
        <tb-secret-file-input formControlName="firebaseServiceAccountCredentials"
          label="{{'admin.firebase-service-account-file' | translate}}"
          [required]="isTenantAdmin()"
          accept=".json,application/json"
          allowedExtensions="json"
          [existingFileName]="notificationSettingsForm.get('deliveryMethodsConfigs.MOBILE_APP.firebaseServiceAccountCredentialsFileName')?.value"
          (fileNameChanged)="notificationSettingsForm.get('deliveryMethodsConfigs.MOBILE_APP.firebaseServiceAccountCredentialsFileName').patchValue($event)">
        </tb-secret-file-input>
      }
    </mat-card-content>
    @if (!readonly) {
      <mat-card-actions class="flex flex-wrap items-center justify-end xs:flex-col xs:items-stretch">
        <button mat-button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async) || notificationSettingsForm.invalid || !notificationSettingsForm.dirty"
          type="submit">{{'action.save' | translate}}
        </button>
      </mat-card-actions>
    }
  </mat-card>
</form>

