:host ::ng-deep {
  .mat-dialog-content {
    .mat-vertical-content {
      form {
        padding-bottom: 12px;
      }
    }
    .mat-vertical-stepper-header {
      pointer-events: none !important;
    }
    .tb-import-progress{
      margin: 7px 0;
    }
  }
}
