:host{
  .fields-group {
    padding: 8px;
    margin: 10px 0;
    border: 1px groove rgba(0, 0, 0, .25);
    border-radius: 4px;

    legend {
      color: rgba(0, 0, 0, .7);
    }

    .tb-hint{
      padding: 0;
    }
  }
}
