<div>
  <mat-tab-group *ngIf="hasWidgetTypes()" class="tb-absolute-fill" fxFlex>
    <mat-tab *ngIf="timeseriesWidgetTypes.length" style="height: 100%;" label="{{ 'widget.timeseries' | translate }}">
      <tb-dashboard [aliasController]="aliasController"
                    [widgets]="timeseriesWidgetTypes"
                    [widgetLayouts]="{}"
                    [isEdit]="false"
                    [isMobile]="true"
                    [isEditActionEnabled]="false"
                    [isExportActionEnabled]="false"
                    [isRemoveActionEnabled]="false"
                    [callbacks]="callbacks"></tb-dashboard>
    </mat-tab>
    <mat-tab *ngIf="latestWidgetTypes.length" style="height: 100%;" label="{{ 'widget.latest-values' | translate }}">
      <tb-dashboard [aliasController]="aliasController"
                    [widgets]="latestWidgetTypes"
                    [widgetLayouts]="{}"
                    [isEdit]="false"
                    [isMobile]="true"
                    [isEditActionEnabled]="false"
                    [isExportActionEnabled]="false"
                    [isRemoveActionEnabled]="false"
                    [callbacks]="callbacks"></tb-dashboard>
    </mat-tab>
    <mat-tab *ngIf="rpcWidgetTypes.length" style="height: 100%;" label="{{ 'widget.rpc' | translate }}">
      <tb-dashboard [aliasController]="aliasController"
                    [widgets]="rpcWidgetTypes"
                    [widgetLayouts]="{}"
                    [isEdit]="false"
                    [isMobile]="true"
                    [isEditActionEnabled]="false"
                    [isExportActionEnabled]="false"
                    [isRemoveActionEnabled]="false"
                    [callbacks]="callbacks"></tb-dashboard>
    </mat-tab>
    <mat-tab *ngIf="alarmWidgetTypes.length" style="height: 100%;" label="{{ 'widget.alarm' | translate }}">
      <tb-dashboard [aliasController]="aliasController"
                    [widgets]="alarmWidgetTypes"
                    [widgetLayouts]="{}"
                    [isEdit]="false"
                    [isMobile]="true"
                    [isEditActionEnabled]="false"
                    [isExportActionEnabled]="false"
                    [isRemoveActionEnabled]="false"
                    [callbacks]="callbacks"></tb-dashboard>
    </mat-tab>
    <mat-tab *ngIf="staticWidgetTypes.length" style="height: 100%;" label="{{ 'widget.static' | translate }}">
      <tb-dashboard [aliasController]="aliasController"
                    [widgets]="staticWidgetTypes"
                    [widgetLayouts]="{}"
                    [isEdit]="false"
                    [isMobile]="true"
                    [isEditActionEnabled]="false"
                    [isExportActionEnabled]="false"
                    [isRemoveActionEnabled]="false"
                    [callbacks]="callbacks"></tb-dashboard>
    </mat-tab>
  </mat-tab-group>
  <span translate *ngIf="widgetsBundle && !hasWidgetTypes()"
        style="display: flex;"
        fxLayoutAlign="center center"
        class="mat-headline tb-absolute-fill">widgets-bundle.empty</span>
  <span translate *ngIf="!widgetsBundle"
        style="display: flex;"
        fxLayoutAlign="center center"
        class="mat-headline tb-absolute-fill">widget.select-widgets-bundle</span>
</div>
