@import '../../../../../scss/constants';

:host {
  display: flex;
  flex: 1 1 0;
  .tb-create-password-content {
    background-color: #eee;
    .tb-create-password-card {
      @media #{$mat-gt-xs} {
        width: 450px !important;
      }
    }
  }
}
