// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../scss/constants';

:host {
  display: flex;
  flex: 1 1 0;
  .tb-expired-link-content {
    background-color: #eee;
    .tb-expired-link-card {
      letter-spacing: 0.15px;
      line-height: 24px;
      padding: 24px;
      @media #{$mat-gt-xs} {
        width: 486px !important;
      }
    }
  }
}
