// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../scss/constants';

:host {
  display: flex;
  flex: 1 1 0;
  .tb-request-password-reset-content {
    background-color: #eee;
    .tb-request-password-reset-card {
      @media #{$mat-gt-xs} {
        width: 450px !important;
      }
    }
  }
}
