// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../../../scss/constants';

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media #{$mat-xs} {
    gap: 8px;
  }
}
