<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<mat-form-field [formGroup]="selectSecretFormGroup" class="tb-secret-autocomplete" appearance="outline">
  <mat-label>{{ labelText | translate }}</mat-label>
  <mat-chip-grid #chipList [required]="required" class="mat-secret-chip-container">
    @if (selectedSecret) {
      <mat-chip-row
        class="mat-secret-chip tb-chip-row-ellipsis"
        [removable]="!disabled"
        (removed)="clear()">
        <mat-icon class="icon-key" matChipAvatar svgIcon="mdi:key-variant"></mat-icon>
        {{ selectedSecret }}
        @if (!disabled) {
          <mat-icon matChipRemove>close</mat-icon>
        }
      </mat-chip-row>
    }
    <input matInput type="text"
      [class.!hidden]="selectedSecret"
      #converterInput
      (focusin)="onFocus()"
      formControlName="secret"
      matAutocompleteOrigin
      #origin="matAutocompleteOrigin"
      [readonly]="!!selectedSecret"
      [matAutocompleteDisabled]="!!selectedSecret"
      [matAutocompleteConnectedTo]="origin"
      [matAutocomplete]="labelAutocomplete"
      [matChipInputFor]="chipList">
  </mat-chip-grid>
  <mat-autocomplete #labelAutocomplete="matAutocomplete"
    class="tb-autocomplete"
    [displayWith]="displayEntityFn">
    @for (secret of filteredEntities | async; track secret.id.id) {
      <mat-option [value]="secret">
        <div class="tb-secret-autocomplete-option flex flex-row">
          <mat-icon class="tb-secret-autocomplete-option-icon" svgIcon="mdi:key-variant"></mat-icon>
          <div class="flex-1">
            <div class="tb-secret-autocomplete-option-name" [innerHTML]="secret.name | highlight:searchText:true"></div>
            <div class="tb-secret-autocomplete-option-description">{{ secret.description }}</div>
          </div>
        </div>
      </mat-option>
      } @empty {
      <mat-option [value]="null" class="tb-not-found">
        <div class="tb-not-found-content" (click)="$event.stopPropagation()">
          @if (!textIsNotEmpty(searchText)) {
            <span translate>secret-storage.no-secrets-found</span>
          } @else {
            <span>
              {{ 'secret-storage.no-secrets-matching' | translate:{entity: (searchText | truncate: true: 6: &apos;...&apos;)} }}
            </span>
          }
        </div>
      </mat-option>
    }
  </mat-autocomplete>
  @if (selectSecretFormGroup.get('secret').hasError('required')) {
    <mat-error>
      {{ requiredText | translate }}
    </mat-error>
  }
</mat-form-field>

