// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
.tb-secret-autocomplete {
  width: 100%;
  .mat-secret-chip-container {
    .mat-secret-chip {
      margin: 0 0 0 8px;
      --mat-chip-container-height: 24px;
      .icon-key {
        --mat-chip-with-icon-icon-color: rgba(0, 0, 0, 0.38);
      }
    }
  }
  &-option {
    padding: 6px 0;
    position: relative;

    &-icon {
      width: 28px;
      height: 28px;
    }

    &-name {
      max-width: 60ch;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.25px;
      line-height: 130%;
    }

    &-description {
      max-width: 60ch;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.38);
      line-height: 100%;
    }
  }
}
