// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
:host {
  .secret-warning-btn {
    --mat-icon-button-icon-color: #FF5722;
    --mat-icon-button-disabled-icon-color: #FF5722;
  }
  ::ng-deep {
    .mat-mdc-form-field .mat-mdc-form-field-icon-suffix {
      display: flex;
    }
    .secret-chip-container {
      .secret-chip {
        margin: 0 0 0 8px;
        --mat-chip-container-height: 24px;
        --mat-chip-with-icon-icon-color: rgba(0, 0, 0, 0.38);
      }
    }
  }
}
