<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<mat-form-field class="flex flex-1" [formGroup]="secretKeyFormGroup" [appearance]="appearance" subscriptSizing="dynamic">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  @if (secretStorageKey) {
    <mat-chip-set class="secret-chip-container" [disabled]="disabled">
      <mat-chip class="secret-chip tb-chip-row-ellipsis">
        <mat-icon class="icon-key" matChipAvatar svgIcon="mdi:key-variant"></mat-icon>
        {{secretStorageKey}}
      </mat-chip>
    </mat-chip-set>
  }
  <input matInput [required]="required" [type]="inputType" autocomplete="new-password" name="custom-field" formControlName="secretKey" [class.!hidden]="secretStorageKey">
  <tb-toggle-password matSuffix [class.!hidden]="secretStorageKey || inputType !== 'password'"></tb-toggle-password>
  <button mat-icon-button matSuffix
    type="button"
    class="tb-small"
    [class.!hidden]="!secretStorageKey || disabled"
    [disabled]="disabled"
    (click)="remove($event)"
    matTooltip="{{'action.remove' | translate}}"
    matTooltipPosition="above">
    <mat-icon>close</mat-icon>
  </button>
  @if (allowSecret) {
    <button mat-icon-button matSuffix
      type="button"
      class="tb-small"
      [class.secret-warning-btn]="!secretStorageKey && !disabled && !readonly && secretKeyFormGroup.get('secretKey').value"
      [disabled]="disabled || readonly"
      (click)="openSecretKeyDialog($event)"
      matTooltip="{{'secret-storage.use-secret' | translate}}"
      matTooltipPosition="above">
      <mat-icon svgIcon="mdi:key-variant"></mat-icon>
    </button>
  }
  <mat-hint innerHTML="{{ hint }}"></mat-hint>
  @if (secretKeyFormGroup.get('secretKey').hasError('required') ||
    secretKeyFormGroup.get('secretKey').hasError('pattern')) {
    <mat-error>
      {{ requiredText }}
    </mat-error>
  }
  @if (secretKeyFormGroup.get('secretKey').hasError('maxlength')) {
    <mat-error>
      {{ maxLengthErrorText }}
    </mat-error>
  }
</mat-form-field>

