<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<div class="tb-container flex-col gt-sm:flex-row" [formGroup]="secretFileFormGroup">
  @if (label) {
    <label class="tb-title" [class]="{'tb-error': !disabled && (required && !secretFileFormGroup.get('secretFile').value), 'tb-required': !disabled && required}">{{label}}</label>
  }
  <div class="tb-secret-select-container">
    @if (secretStorageFile) {
      <div class="flex flex-col flex-1 p-2">
        <label class="tb-title">Secret storage</label>
        <div class="flex flex-row items-center">
          <mat-form-field class="flex flex-1" appearance="outline" subscriptSizing="dynamic">
            <mat-chip-set class="secret-chip-container" [disabled]="disabled">
              <mat-chip class="secret-chip tb-chip-row-ellipsis">
                <mat-icon class="icon-key" matChipAvatar svgIcon="mdi:key-variant"></mat-icon>
                {{secretStorageFile}}
              </mat-chip>
            </mat-chip-set>
            <input matInput required type="password" formControlName="secretFile" class="input-hidden" autocomplete="new-password">
          </mat-form-field>
          <ng-container *ngTemplateOutlet=btnContainer></ng-container>
        </div>
      </div>
    } @else {
      @if (!existingFileName) {
        <div class="tb-secret-select-buttons-container">
          <button mat-stroked-button
            type="button"
            color="primary"
            class="tb-secret-select-button"
            (click)="flowInput.flowInput.nativeElement.click()">
            <tb-icon matButtonIcon>cloud_upload</tb-icon>
            <label>{{'file-input.browse-file' | translate}}</label>
          </button>
          <tb-file-input #flowInput
            [maxSizeByte]="maxSizeByte"
            [accept]="accept"
            [allowedExtensions]="allowedExtensions"
            class="hidden"
            [inputId]="inputId"
            formControlName="secretFile"
          (fileNameChanged)="fileNameChange($event)"></tb-file-input>
          @if (allowSecret) {
            <button mat-stroked-button
              [disabled]="readonly"
              type="button"
              color="primary"
              class="tb-secret-select-button"
              (click)="openSecretKeyDialog($event)">
              <tb-icon matButtonIcon>mdi:key-variant</tb-icon>
              <span translate>secret-storage.use-secret-storage</span>
            </button>
          }
        </div>
      }
      @if (existingFileName) {
        <div class="tb-secret-info-container">
          <div class="tb-resource-secret-container">
            <div class="tb-resource-secret-name">
              {{ existingFileName }}
            </div>
          </div>
          <ng-container *ngTemplateOutlet=btnContainer></ng-container>
        </div>
      }
    }
  </div>
</div>

<ng-template #btnContainer>
  @if (allowSecret) {
    <button mat-icon-button matSuffix class="tb-small tb-secret-btn"
      type="button"
      [class.secret-warning-btn]="!secretStorageFile && ! readonly"
      [disabled]="disabled || readonly"
      (click)="openSecretKeyDialog($event)"
      matTooltip="{{'secret-storage.use-secret' | translate}}"
      matTooltipPosition="above">
      <mat-icon svgIcon="mdi:key-variant"></mat-icon>
    </button>
  }
  @if (!disabled) {
    <button
      class="tb-secret-btn"
      type="button"
      mat-icon-button
      matTooltip="{{ 'action.remove' | translate }}"
      matTooltipPosition="above"
      (click)="remove($event)">
      <mat-icon>close</mat-icon>
    </button>
  }
</ng-template>
