// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../../../../../../scss/constants";

:host {
  .escalation {
    height: 100%;
    min-height: 74px;
    max-height: 100%;
    border-radius: 8px;
    background: rgba(0,0,0,0.04);
    padding: 0 10px;

    > div:first-child {
      padding-right: 10px;
    }
  }

  .escalation-notify {
    text-align: center;
  }

  tb-timeinterval {
    min-width: 100px;
    padding: 0 10px;
  }

  @media #{$mat-xs} {
    .escalation {
      > div:first-child {
        padding: 10px 0 0;
      }
    }

    tb-timeinterval {
      padding: 0;
    }
  }
}

:host ::ng-deep {
  .mat-mdc-form-field {
    min-width: 100px;

    .mat-mdc-form-field-infix {
      width: 100%;
    }

    .mat-mdc-select {
      min-width: 110px !important;
    }
  }
}
