// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  display: block;
}

.tb-install-form-field-help {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 4px;
}

.tb-install-form-field-help-image {
  max-width: 100%;
  margin-top: 8px;
}
