@mixin tb-mat-icon-size($size) {
  width: #{$size}px;
  min-width: #{$size}px;
  height: #{$size}px;
  min-height: #{$size}px;
  font-size: #{$size}px;
  line-height: #{$size}px;
  svg {
    width: #{$size}px;
    height: #{$size}px;
  }
}

@mixin tb-mat-icon-button-size($size) {
  width: #{$size}px;
  height: #{$size}px;
  line-height: #{$size}px;
  padding: 0 !important;
  .mat-icon {
    display: block;
    margin: auto;
  }
}

@mixin tb-checkered-bg() {
  background-color: #fff;
  background-image:
    linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd),
    linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
}
