<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="org.thingsboard.server.service.subscription" level="TRACE"/>-->
    <logger name="org.thingsboard.server.controller.TbTestWebSocketClient" level="INFO"/>
<!--    <logger name="org.thingsboard.server" level="WARN"/>-->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot.test" level="WARN"/>
    <logger name="org.apache.cassandra" level="WARN"/>
    <logger name="com.datastax" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="org.owasp" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hsqldb" level="WARN"/>
    <logger name="org.eclipse" level="WARN"/>
    <logger name="org.cassandraunit" level="INFO"/>

    <logger name="org.thingsboard.rule.engine" level="TRACE"/>
    <logger name="org.thingsboard.server.controller.RuleChainController" level="TRACE"/>
    <logger name="org.thingsboard.server.controller" level="TRACE"/>
    <logger name="org.thingsboard.server.dao.rule.BaseRuleChainService" level="TRACE"/>
    <logger name="org.thingsboard.server.dao.relation" level="DEBUG"/>

    <logger name="org.thingsboard.server.cache" level="TRACE"/>

    <logger name="org.thingsboard.server.service.queue.DefaultTbClusterService" level="TRACE"/>
    <logger name="org.thingsboard.server.actors.TbActorMailbox" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
