<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="org.thingsboard.server.service.subscription" level="TRACE"/>-->
    <logger name="org.thingsboard.server.controller.TbTestWebSocketClient" level="INFO"/>
    <logger name="org.thingsboard.server" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot.test" level="WARN"/>
    <logger name="org.apache.cassandra" level="WARN"/>
    <logger name="org.testcontainers" level="INFO" />
    <logger name="org.eclipse.leshan" level="INFO"/>
    <logger name="org.thingsboard.server.controller.AbstractWebTest" level="INFO"/>
    <logger name="org.thingsboard.server.service.script" level="INFO"/>

    <!-- mute TelemetryEdgeSqlTest that causes a lot of randomly generated errors -->
    <logger name="org.thingsboard.server.service.edge.rpc.PostgresEdgeGrpcSession" level="OFF"/>

    <!--    LwM2m lifecycle debug for the test scope -->
    <logger name="org.thingsboard.server.transport.lwm2m.server.downlink.DefaultLwM2mDownlinkMsgHandler" level="TRACE"/>
    <logger name="org.thingsboard.server.transport.lwm2m.server.uplink.DefaultLwM2mUplinkMsgHandler" level="TRACE"/>
    <logger name="org.thingsboard.server.transport.lwm2m.server.ota.DefaultLwM2MOtaUpdateService" level="TRACE"/>
    <logger name="org.thingsboard.server.transport.lwm2m.server" level="INFO"/>
    <logger name="org.eclipse.californium.core" level="INFO"/>

    <!--    To reduce logs -->
    <logger name="org.apache.catalina.loader.WebappClassLoaderBase" level="ERROR" />
    <logger name="org.thingsboard.server.service.queue.DefaultTbClusterService" level="ERROR" />
    <logger name="org.thingsboard.server.service.security.auth.jwt.settings.DefaultJwtSettingsService" level="ERROR" />

    <!-- Coap client context debug for the test scope -->
    <!--    <logger name="org.thingsboard.server.transport.coap.client.DefaultCoapClientContext" level="TRACE" />-->

    <!-- Device actor message processor debug for the test scope -->
    <!--    <logger name="org.thingsboard.server.actors.device.DeviceActorMessageProcessor" level="DEBUG" />-->
    <!--    <logger name="org.thingsboard.server.transport.lwm2m.server.store.TbInMemoryRegistrationStore" level="TRACE"/>-->
    <!--    <logger name="org.thingsboard.server.transport.lwm2m.server.store.TbLwM2mRedisRegistrationStore" level="TRACE"/>-->
    <!--    <logger name="org.thingsboard.server.transport.lwm2m.security.diffPort" level="TRACE"/>-->

    <!-- Avoiding multiple logs like: The cache 'relations' is not recording statistics. No meters except 'cache.size' will be registered. Call 'Caffeine#recordStats()' prior to building the cache for metrics to be recorded.-->
    <logger name="io.micrometer.core.instrument.binder.cache.CaffeineCacheMetrics" level="ERROR"/>

    <root level="WARN">
        <appender-ref ref="console"/>
    </root>

</configuration>
