// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .queue-strategy {
    padding-bottom: 16px;

    .group-label {
      display: block;
      padding-bottom: 10px;
    }

    .panel-title {
      font-weight: 500;
    }

    .hint-icon {
      width: 15px;
      height: 15px;
      vertical-align: top;
    }
  }

  ::ng-deep {
    .queue-strategy {
      .mat-expansion-panel-header {
        height: 50px;
      }
    }
  }
}
