// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../../../scss/constants';

:host {
  .level-text {
    display: flex;
    justify-content: center;
    width: 25px;
    color: rgba(0, 0, 0, 0.54);
  }

  .tb-form-table {
    .tb-form-row {
      gap: 12px;
    }

    .tb-form-table-body {
      gap: unset;
    }

    .tb-form-table-header {
      padding: 0;
    }

    .tb-form-table-header-cell {
      &.tb-actions-header {
        width: 40px;
        min-width: 40px;
      }
    }
  }

  .max-args-warning {
    .mat-icon {
      color: #FAA405;
    }
  }

  .limit-field-row {
    @media screen and (max-width: 520px) {
      display: flex;
      flex-direction: column;

      .fixed-title-width {
        align-self: flex-start;
        padding-top: 8px;
      }
    }
  }
}

:host ::ng-deep {
  tb-entity-autocomplete {
    .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
      padding-right: 0 !important;
    }
  }
}
