// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .tb-rate-limits-text {
    overflow: hidden;

    &.disabled {
      opacity: 0.7;
    }
  }
}

:host ::ng-deep {
  .tb-rate-limits-text {
    span {
      font-size: 14px;
      line-height: 1.8em;
    }
    .tb-rate-limits-value {
      font-weight: bold;
      border: 1px groove rgba(0, 0, 0, .25);
      border-radius: 4px;
      padding-left: 4px;
      padding-right: 4px;
      color: #305680;
    }
  }
}
