<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<form [formGroup]="editDetailsFormGroup">
  <mat-toolbar color="primary">
    <h2>{{ title | translate }}</h2>
    <span class="flex-1"></span>
    <button mat-icon-button
            [matDialogClose]="undefined"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content>
    <tb-rate-limits-list formControlName="rateLimits"></tb-rate-limits-list>
  </div>
  <div mat-dialog-actions class="flex items-center justify-end">
    <button mat-button color="primary"
            type="button"
            [matDialogClose]="undefined"
            cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button *ngIf="!data.readonly" mat-raised-button color="primary" (click)="save()"
            [disabled]="editDetailsFormGroup.invalid || !editDetailsFormGroup.dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
