// SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
// SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1
:host {
  .mat-mdc-card.settings-card {
    .mat-headline-5 {
      margin: 0;
    }
    .notification-form {
      height: 100%;
      min-height: min-content;
      max-height: min-content;
    }
    .notification-section {
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.12);
      overflow: scroll;
      &-block {
        min-width: 470px;
      }
    }
  }
}
