// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {

  .notification {
    padding: 10px 0 10px 10px;
    border: 1px solid;
    border-radius: 4px;
    margin: 4px;
  }

  .icon {
    margin-right: 14px;
    color: rgba(0, 0, 0, 0.54);
  }

  .content {
    letter-spacing: .25px;
    word-break: break-word;
    .title {
      margin-bottom: 4px;
      font-weight: 500;
    }
    .message {
      font-size: 14px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.76);
    }

    .button {
      margin-top: 12px;
      border-color: initial;
      height: fit-content;
      line-height: 2;
    }
  }

  .description {
    margin-left: 8px;
    min-width: 70px;
    color: rgba(0, 0, 0, 0.54);

    .time {
      font-size: 12px;
      letter-spacing: 0.25px;
      margin-right: 12px;
      margin-top: 4px;
    }

    .alarm-severity {
      padding: 5px;
      border-radius: 8px;
      margin-right: 7px;

      .severity {
        font-weight: 500;
        letter-spacing: 0.25px;
      }
    }
  }
}
