<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<section class="notification flex flex-row items-start justify-between"
         [style]="{borderColor: notificationColor(), backgroundColor: notificationBackgroundColor()}">
  <div *ngIf="showIcon; else defaultIcon">
    <tb-icon class="icon" [style.color]="notification.additionalConfig.icon.color">
      {{ notification.additionalConfig.icon.icon }}
    </tb-icon>
  </div>
  <ng-template #defaultIcon>
    <tb-icon class="icon" *ngIf="notificationTypeIcons.get(notification.type)" [style]="notificationIconColor()">
      {{ notificationTypeIcons.get(notification.type) }}
    </tb-icon>
  </ng-template>
  <div class="content flex-1">
    <div class="title" [innerHTML]="title"></div>
    <div class="message" [innerHTML]="message"></div>
    <button *ngIf="showButton" mat-stroked-button class="button" color="primary"
            (click)="navigate($event)">
      {{ buttonLabel }}
    </button>
  </div>
  <div class="description flex flex-col items-end justify-start">
    <span class="time">{{ notification.createdTime ?? currentDate | dateAgo }}</span>
    <button mat-icon-button (click)="markRead($event)" *ngIf="!hideMarkAsReadButton"
            matTooltip="{{ 'notification.mark-as-read' | translate }}" matTooltipPosition="above">
      <mat-icon>check_circle_outline</mat-icon>
    </button>
    <div class="alarm-severity" *ngIf="notification.type === notificationType.ALARM && !notification.info.cleared"
         [style.background-color]="alarmColorSeverity(0.06)">
      <span [style]="notificationIconColor()" class="severity">
        {{alarmSeverityTranslations.get(notification.info.alarmSeverity) | translate}}
      </span>
    </div>
  </div>
</section>
