<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<section [formGroup]="ttnIntegrationConfigForm" class="flex flex-col">
  <fieldset formGroupName="clientConfiguration">
    <div class="flex flex-col gt-sm:flex-row gt-sm:gap-5">
      <mat-form-field appearance="outline" class="mat-block max-w-40% flex-full">
        <mat-label translate>integration.host-type</mat-label>
        <mat-select required formControlName="customHost">
          @for (type of ThingsStartHostTypes; track type) {
            <mat-option [value]="!!type">
              {{ getThingsStartHostTypeTranslation(type) }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="flex flex-1 flex-row gap-2">
        @if (ttnIntegrationConfigForm.get('clientConfiguration.customHost').value === !!ThingsStartHostType.Region) {
          <div class="flex flex-1 flex-row items-center justify-start">
            <mat-form-field appearance="outline" class="mat-block flex-1">
              <mat-label translate>integration.region</mat-label>
              <input matInput required [formControl]="hostEdit">
              @if (hostEdit.hasError('required')) {
                <mat-error translate>
                  integration.region-required
                </mat-error>
              }
              @if (hostEdit.hasError('privateNetwork')) {
                <mat-error translate>
                  integration.host-private
                </mat-error>
              }
            </mat-form-field>
            <mat-label>{{hostRegionSuffix}}</mat-label>
          </div>
        }
        @if (ttnIntegrationConfigForm.get('clientConfiguration.customHost').value === !!ThingsStartHostType.Custom) {
          <mat-form-field appearance="outline" class="mat-block flex-full">
            <mat-label translate>integration.custom-host</mat-label>
            <input matInput required [formControl]="hostEdit">
            @if (hostEdit.hasError('required')) {
              <mat-error translate>
                integration.custom-host-required
              </mat-error>
            }
            @if (hostEdit.hasError('privateNetwork')) {
              <mat-error translate>
                integration.host-private
              </mat-error>
            }
          </mat-form-field>
        }
      </div>
    </div>
    <mat-form-field appearance="outline" class="mat-block flex-1">
      <mat-label translate>integration.port</mat-label>
      <input matInput type="number" step="1" min="1" max="65535" required formControlName="port">
      @if (ttnIntegrationConfigForm.get('clientConfiguration.port').hasError('required')) {
        <mat-error translate>
          integration.port-required
        </mat-error>
      }
      @if (ttnIntegrationConfigForm.get('clientConfiguration.port').hasError('min') ||
                                  ttnIntegrationConfigForm.get('clientConfiguration.port').hasError('max')) {
        <mat-error translate>
          integration.port-range
        </mat-error>
      }
    </mat-form-field>
    <tb-integration-credentials formControlName="credentials"
                                [allowCredentialTypes]="[IntegrationCredentialType.Basic]">
      <mat-slide-toggle class="checkbox" [aria-label]="'integration.enable-ssl' | translate" formControlName="ssl">
        {{ 'integration.enable-ssl' | translate }}
      </mat-slide-toggle>
    </tb-integration-credentials>
    @if (!hideSelectVersion) {
      <mat-slide-toggle [formControl]="apiVersion" style="margin: 6px 0 12px;">
        {{'integration.api-version' | translate}}
      </mat-slide-toggle>
    }
  </fieldset>
  <tb-mqtt-topic-filters formControlName="topicFilters">
  </tb-mqtt-topic-filters>
  <ng-container [ngTemplateOutlet]="executeRemotelyTemplate">
  </ng-container>
  <mat-expansion-panel class="configuration-panel" formGroupName="clientConfiguration">
    <mat-expansion-panel-header>
      <mat-panel-description class="flex items-stretch justify-end" translate>
        integration.advanced-settings
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <tb-mqtt-version-select subscriptSizing="fixed" appearance="outline" formControlName="protocolVersion" [excludeVersions]="[MqttVersion.MQTT_5]"></tb-mqtt-version-select>
      <section class="row flex flex-row xs:flex-col gt-xs:gap-2">
        <mat-form-field appearance="outline" class="mat-block flex-1">
          <mat-label translate>integration.max-bytes-in-message</mat-label>
          <input matInput type="number" formControlName="maxBytesInMessage">
          @if (ttnIntegrationConfigForm.get('clientConfiguration.maxBytesInMessage').hasError('min')) {
            <mat-error translate>
              integration.max-bytes-in-message-range
            </mat-error>
          }
          @if (ttnIntegrationConfigForm.get('clientConfiguration.maxBytesInMessage').hasError('max')) {
            <mat-error translate>
              integration.max-bytes-in-message-range
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-block flex-1">
          <mat-label translate>integration.connect-timeout</mat-label>
          <input matInput type="number" step="1" min="1" max="200" required formControlName="connectTimeoutSec">
          @if (ttnIntegrationConfigForm.get('clientConfiguration.connectTimeoutSec').hasError('required')) {
            <mat-error translate>
              integration.connect-timeout-required
            </mat-error>
          }
          @if (ttnIntegrationConfigForm.get('clientConfiguration.connectTimeoutSec').hasError('min') ||
                                      ttnIntegrationConfigForm.get('clientConfiguration.connectTimeoutSec').hasError('max')) {
            <mat-error translate>
              integration.connect-timeout-range
            </mat-error>
          }
        </mat-form-field>
      </section>
      <ng-container *ngTemplateOutlet="downlinkTopicPattern"></ng-container>
      <ng-container [ngTemplateOutlet]="genericAdditionalInfoTemplate">
      </ng-container>
    </ng-template>
  </mat-expansion-panel>
  <ng-template #downlinkTopicPattern>
    <mat-form-field appearance="outline" class="mat-block">
      <mat-label translate>integration.downlink-topic-pattern</mat-label>
      <input matInput required readonly formControlName="downlinkTopicPattern">
      @if (ttnIntegrationConfigForm.get('downlinkTopicPattern').hasError('required')) {
        <mat-error translate>integration.downlink-topic-pattern-required</mat-error>
      }
    </mat-form-field>
  </ng-template>
</section>
