// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.tb-edit-api-key-description-panel {
  --mat-form-field-outlined-outline-color: rgba(0,0,0,0.12);

  width: 400px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .tb-edit-api-key-description-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }
  .tb-edit-api-key-description-panel-buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
