[Unit]
Description=${pkg.name}
After=syslog.target

[Service]
User=${pkg.name}
ExecStart=${pkg.installFolder}/bin/${pkg.name}.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
