// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .tb-kv-map-config {
    margin-bottom: 16px;

    .header {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;

      .cell {
        padding-left: 5px;
        padding-right: 5px;
        color: #757575;
        font-size: 12px;
        font-weight: 700;
        white-space: nowrap;
      }

      .tb-required::after {
        color: #757575;
        font-size: 12px;
        font-weight: 700;
      }
    }

    .body {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 0;
      max-height: 300px;
      overflow: auto;

      .cell {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    tb-error {
      display: block;
      margin-top: -12px;
    }
  }
}
