<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
@if (simpleList) {
  <ng-container *ngTemplateOutlet="referencesList; context:{entriesList: referencedEntitiesList, showDetailsLink: true}"></ng-container>
} @else {
  @if (contentReady) {
    <ul class="tb-references">
      @for (entry of referencedEntitiesEntries; track entry) {
        @if (isSystem(entry[0])) {
          <li class="tb-entities-container tb-primary-fill">
            <div class="tb-entities-title">{{ 'image.system-entities' | translate }}</div>
            <ng-container *ngTemplateOutlet="referencesList; context:{entriesList: entry[1].entities, showDetailsLink: true}"></ng-container>
          </li>
        } @else {
          <li class="tb-entities-container tb-primary-fill">
            <div class="tb-entities-title">
              {{ holderName(entry[0]) }} @if (!entry[1].currentHolder && entry[1].name) {
              <a class="tb-reference" [routerLink]="entry[1].detailsUrl">{{ entry[1].name }}</a>
              } {{ 'image.entities' | translate }}
            </div>
            <ng-container *ngTemplateOutlet="referencesList; context:{entriesList: entry[1].entities, showDetailsLink: entry[1].currentHolder}"></ng-container>
          </li>
        }
      }
    </ul>
  } @else {
    <mat-spinner [diameter]="32" strokeWidth="2"></mat-spinner>
  }
}
<ng-template #referencesList let-entriesList="entriesList" let-showDetailsLink="showDetailsLink">
  <table class="tb-entities-list-table">
    @for (referencedEntity of entriesList; track referencedEntity) {
      <tr>
        @if (!referencedEntity.isWl) {
          <td class="tb-entity-type">{{ referencedEntity.typeName }}</td>
          <td class="tb-entity-name">
            @if (showDetailsLink) {
              <a  class="tb-reference" [routerLink]="referencedEntity.detailsUrl" [queryParams]="referencedEntity.queryParams">{{ getAdminSettingsName(referencedEntity.entity) }}</a>
            }
            @if (!showDetailsLink) {
              <span>{{ referencedEntity.entity.name }}</span>
            }</td>
          } @else {
            <td class="tb-entity-type">
              @if (showDetailsLink) {
                <a class="tb-reference" [routerLink]="referencedEntity.detailsUrl">{{ referencedEntity.typeName }}</a>
              }
              @if (!showDetailsLink) {
                <span>{{ referencedEntity.typeName }}</span>
              }
            </td>
            <td class="tb-entity-name">
            </td>
          }
        </tr>
      }
    </table>
  </ng-template>
  <ng-template #loading>
    <mat-spinner [diameter]="32" strokeWidth="2"></mat-spinner>
  </ng-template>
