// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../../../../scss/constants";

:host {
  ul.tb-references {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  li.tb-entities-container {
    padding: 8px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
  }
  a.tb-reference {
    color: $tb-primary-color;
    font-weight: inherit;
  }
  .tb-entities-title {
    display: flex;
    gap: 8px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.25px;
  }
  table.tb-entities-list-table {
    position: relative;
    overflow: hidden;
    padding: 8px 10px 8px 4px;
    border-radius: 4px;
    background: #fff;
    align-self: stretch;
    z-index: 1;
    color: rgba(0, 0, 0, 0.76);
    &:before {
      display: block;
      height: auto;
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 4px;
      border: 1px solid $tb-primary-color;
      background: transparent;
      opacity: 0.4;
      pointer-events: none;
    }
    td.tb-entity-type {
      white-space: nowrap;
      padding-right: 20px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.25px;
      &:before {
        content: "•";
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    td.tb-entity-name {
      width: 100%;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
    }
  }
}
