
body {
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.87);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.page-number:before {
    content: counter(page);
}

.page-count:before {
    content: counter(pages);
}

.page-break {
    page-break-after: always;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    letter-spacing: normal;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

pre {
    line-height: normal;
    font-size: 1em;
    font-family: monospace;
    margin: 1em 0;
    white-space: normal;
}

p {
    line-height: normal;
    letter-spacing: normal;
    font-size: 1em;
    margin: 1em 0;
}

strong {
    font-weight: bold;
}

hr {
    margin: 0.5em 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.67);
    border-bottom-width: 2px;
    border-top-width: 0;
}

img {
    display: inline-block;
    page-break-inside: avoid;
}

div.no-page-break {
    page-break-inside: avoid;
}

div.no-page-break * {
    page-break-inside: avoid;
}

div.no-page-break table, div.no-page-break tr {
    page-break-inside: avoid;
}

div.report-component {
    overflow: hidden;
}

table.tb-report-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
}

.content table.tb-report-table {
    -fs-table-paginate: paginate;
}

table.tb-report-table tr {
    height: 2em;
    page-break-inside: avoid;
}

table.tb-report-table th, table.tb-report-table td {
    position: relative;
    overflow: hidden;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
    border-right: 1px solid rgba(0, 0, 0, 0.87);
}

table.tb-report-table th:first-child, table.tb-report-table td:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.87);
}

table.tb-report-table th {
    border-top: 1px solid rgba(0, 0, 0, 0.87);
    text-align: center;
}

table.tb-report-table th.tb-report-table-heading {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

table.tb-split-view {
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-width: 0;
    border-style: none;
    border-spacing: 0;
}

table.tb-split-view > tr > td {
    height: 1px;
    border-style: none;
    padding: 0;
    margin: 0;
}
