@import '../../../../scss/constants';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .mat-toolbar.details-toolbar {
    padding: 0;
  }
}

:host ::ng-deep {
  .mat-toolbar-tools {
    height: 100%;
    min-height: 100px;
    max-height: 120px;
    &.tb-details-title-header {
      min-width: 0;
    }
  }
  .tb-details-title {
    width: inherit;
    margin: 20px 8px 0 0;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @media #{$mat-gt-sm} {
      font-size: 1.5rem;
    }
  }

  .tb-details-subtitle {
    width: inherit;
    margin: 10px 0;
    overflow: hidden;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .8;
  }

  tb-dashboard {
    .tb-dashboard-content {
      background-color: $primary-hue-3 !important;
    }
  }
}
