// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  display: flex;
  width: 100%;
  height: 100%;

  .mat-mdc-tab-nav-bar.tb-router-tabs {
    a.mat-mdc-tab-link {
      display: inline-flex;
      align-items: center;
      overflow: hidden;
      line-height: 40px;
      min-width: 200px;
      border-bottom: none;
      .mat-icon {
        margin-right: 8px;
        margin-left: 0;
      }
      span {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .tb-router-tabs-content {
    overflow: auto;
    position: relative;
    height: 100%;
  }
}
