<!--

    SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
    SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1

-->
<tb-anchor #replaceComponentAnchor></tb-anchor>
<div class="flex flex-1 flex-col" [class.!hidden]="!!replaceComponent" style="width: 100%;">
  @let tabs = tabs$ | async;
  @let hideTabs = routerOutlet?.activatedRouteData?.hideTabs;
  @let showTabsBar = !hideTabs && !hideCurrentTabs && (tabs?.length ?? 0) > 1;
  <div class="tb-router-tabs-container flex flex-row"
       [class.tb-router-tabs-container-bordered]="showTabsBar || (!hideTabs && !!tabsHeaderComponentRef)">
    @if (showTabsBar) {
      <nav mat-tab-nav-bar mat-stretch-tabs="false" class="tb-router-tabs flex-1" [tabPanel]="tabPanel">
        @for (tab of tabs; track tab) {
          <a
            routerLink="{{tab.path}}"
            replaceUrl="{{ replaceUrl }}"
            routerLinkActive
            #rla="routerLinkActive"
            mat-tab-link
            [active]="rla.isActive">
            @if (tab.outlinedIcon !== null) {
              <tb-icon class="tb-mat-18">{{tab.outlinedIcon}}</tb-icon>
            } @else if (tab.icon !== null) {
              <tb-icon class="tb-mat-18">{{tab.icon}}</tb-icon>
            }
            <span>{{ tab.customTranslate ? (tab.name | customTranslate) : (tab.name | translate) }}</span>
          </a>
        }
      </nav>
    }
    <div [style.display]="hideTabs ? 'none' : null">
      <tb-anchor #tabsHeaderComponent></tb-anchor>
    </div>
  </div>
  <mat-tab-nav-panel #tabPanel class="tb-router-tabs-content flex flex-1 flex-col">
    <router-outlet #routerOutlet="outlet" (activate)="activeComponentChanged($event)"></router-outlet>
  </mat-tab-nav-panel>
</div>
