<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-fab-toolbar [isOpen]="toolbarOpened" direction="left"
                 [class.is-fullscreen]="forceFullscreen">
  <mat-fab-trigger>
    <button mat-fab color="#fff"
            [matTooltip]="!toolbarOpened ? ('dashboard.open-toolbar' | translate) : ''"
            matTooltipPosition="below"
            (click)="onTriggerClick()">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </mat-fab-trigger>
  <mat-toolbar>
    <mat-fab-actions class="mat-toolbar-tools">
      <ng-content></ng-content>
    </mat-fab-actions>
  </mat-toolbar>
</mat-fab-toolbar>
