// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .fields-group {
    padding: 0 8px 8px;
    margin: 10px 0;
    border: 1px groove rgba(0, 0, 0, .25);
    border-radius: 4px;
    legend {
      color: rgba(0, 0, 0, .7);
      width: fit-content;
    }
  }
}

:host ::ng-deep {
  .mat-expansion-panel {
    &.tb-settings {
      box-shadow: none;
      .mat-content {
        overflow: visible;
      }
      .mat-expansion-panel-header {
        padding: 0;
        &:hover {
          background: none;
        }
        .mat-expansion-indicator {
          padding: 2px;
        }
      }
      .mat-expansion-panel-header-description {
        align-items: center;
      }
      .mat-expansion-panel-body{
        padding: 0;
      }
      .tb-css-content-panel {
        margin: 0 0 8px;
      }
    }
    .mat-expansion-panel-content {
      font: inherit;
    }
  }
}
