<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
@if (stateExists) {
  <tb-dashboard-page
    [embedded]="true"
    [syncStateWithQueryParam]="false"
    [hideToolbar]="true"
    [hideMainToolbar]="false"
    [currentState]="currentState"
    [dashboard]="dashboard"
    [parentDashboard]="parentDashboard"
    [parentAliasController]="parentAliasController">
  </tb-dashboard-page>
}
@if (!stateExists) {
  <div class="tb-absolute-fill tb-widget-error">
    <span>{{ 'dashboard.non-existent-dashboard-state-error' | translate:{stateId} }}</span>
  </div>
}
