// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .widget-preview-background {
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100;
  }
  .widget-preview-section {
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
}
