<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div class="tb-editor-panel">
  <div class="tb-editor-title">{{ title | translate }}</div>
  <editor class="tb-editor" [init]="hugeRteOptions" [formControl]="editorControl"></editor>
  <div class="tb-editor-buttons">
    <button mat-button
            color="primary"
            type="button"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            type="button"
            *ngIf="!disabled"
            (click)="apply()"
            [disabled]="editorControl.invalid || !editorControl.dirty">
      {{ 'action.apply' | translate }}
    </button>
  </div>
</div>
