<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div class="debug-dialog-container flex flex-col xs:h-full">
  <mat-toolbar color="primary">
    <h2>{{ 'calculated-fields.debugging' | translate}}</h2>
    <span class="flex-1"></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content class="tb-form-panel stroked debug-dialog-content xs:flex-1">
    <tb-event-table
      [tenantId]="data.tenantId"
      [debugEventTypes]="[debugEventTypes.DEBUG_CALCULATED_FIELD]"
      [disabledEventTypes]="[EventType.LC_EVENT, EventType.ERROR, EventType.STATS]"
      [defaultEventType]="DebugEventType.DEBUG_CALCULATED_FIELD"
      [active]="true"
      [entityId]="data.value.id"
      (debugEventSelected)="onDebugEventSelected($event)"
    />
  </div>
  <div mat-dialog-actions class="justify-end">
    <button mat-button color="primary"
            type="button"
            cdkFocusInitial
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
  </div>
</div>
