<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
@if (entity) {
  <mat-tab label="{{ 'attribute.attributes' | translate }}" #attributesTab="matTab">
    <tb-attribute-table [defaultAttributeScope]="attributeScopes.SERVER_SCOPE"
                        [active]="attributesTab.isActive"
                        [entityId]="entity.id"
                        [entityName]="entity.name">
    </tb-attribute-table>
  </mat-tab>
  <mat-tab label="{{ 'attribute.latest-telemetry' | translate }}" #telemetryTab="matTab">
    <tb-attribute-table [defaultAttributeScope]="latestTelemetryTypes.LATEST_TELEMETRY"
                        disableAttributeScopeSelection
                        [active]="telemetryTab.isActive"
                        [entityId]="entity.id"
                        [entityName]="entity.name">
    </tb-attribute-table>
  </mat-tab>
  @if (!isEdit) {
    <mat-tab #auditLogsTab="matTab"
             label="{{ 'audit-log.audit-logs' | translate }}">
      <tb-audit-log-table detailsMode="true" [active]="auditLogsTab.isActive" [auditLogMode]="auditLogModes.ENTITY" [entityId]="entity.id"></tb-audit-log-table>
    </mat-tab>
  }
}
