// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
:host {
  .tb-group-chip {
    &.mat-mdc-standard-chip.mdc-evolution-chip--disabled {
      opacity: 1;
      a {
        color: #212121;
        border: none;

      }
    }
  }
}
