// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
:host {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .group-table-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .group-table-entities-title {
    padding-right: 20px;
    white-space: nowrap;
  }
}
