:host {
  min-width: 0;

  .tb-breadcrumb {
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;

    h1,
    a,
    span:not(.divider) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h1 {
      font-size: 24px;
      font-weight: 400;
    }

    a {
      border: none;
      opacity: .75;
      transition: opacity .35s;
      color: inherit;
      text-decoration: none;
      outline: none;
    }

    a:hover,
    a:focus {
      text-decoration: none !important;
      border: none;
      opacity: 1;
    }

    .divider {
      padding: 0 20px;
    }
  }
}
