<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
@if (!asBoxInput) {
  <mat-form-field [formGroup]="colorFormGroup" [appearance]="appearance">
    @if (icon || label) {
      <mat-label>
        @if (icon) {
          <mat-icon>{{icon}}</mat-icon>
        }
        @if (label) {
          <span>{{label}}</span>
        }
      </mat-label>
    }
    <div matPrefix class="tb-color-preview" (click)="!disabled && showColorPicker($event)">
      <div class="tb-color-result" [style.background]="colorFormGroup.get('color').value"></div>
    </div>
    <input matInput formControlName="color" (keydown)="$event.preventDefault();" (click)="openOnInput && showColorPicker($event)" [required]="required">
    @if (colorClearButton && !disabled) {
      <button
        type="button"
        matSuffix mat-icon-button aria-label="Clear"
        (click)="clear()">
        <mat-icon class="material-icons">close</mat-icon>
      </button>
    }
    @if (colorFormGroup.get('color').hasError('required')) {
      <mat-error>
        {{ requiredText }}
      </mat-error>
    }
  </mat-form-field>
} @else {
  <button type="button"
          mat-stroked-button
          class="tb-box-button"
          [class.button-no-border]="noBorder"
          [disabled]="disabled"
          #matButton
          (click)="openColorPickerPopup($event, matButton._elementRef)">
    <div class="tb-color-preview no-margin box" [class.disabled]="disabled">
      <div class="tb-color-result" [style]="!disabled ? {background: colorFormGroup.get('color').value} : {}"></div>
    </div>
  </button>
}
