<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field [formGroup]="selectDashboardStateFormGroup" class="mat-block">
  <mat-label>{{ label }}</mat-label>
  <input matInput type="text" placeholder="{{ placeholder }}"
         #dashboardStateInput
         formControlName="dashboardStateId"
         [required]="required"
         (focus)="onFocus()"
         [matAutocomplete]="dashboardStateAutocomplete">
  <button *ngIf="selectDashboardStateFormGroup.get('dashboardStateId').value"
          type="button"
          matSuffix mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <mat-autocomplete
    class="tb-autocomplete"
    #dashboardStateAutocomplete="matAutocomplete">
    <mat-option *ngFor="let state of filteredStatesDashboard$ | async" [value]="state">
      <span [innerHTML]="state | highlight:searchText"></span>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="selectDashboardStateFormGroup.get('dashboardStateId').hasError('required')">
    {{ 'widget-action.target-dashboard-state-required' | translate }}
  </mat-error>
</mat-form-field>
