<!--

    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: BUSL-1.1

-->
<section [formGroup]="distanceInputForm" [class]="containerClass">
  <mat-form-field [class]="{'max-w-66%': !sameWidthInputs, 'flex-full': true}"
                  [appearance]="appearance"
                  subscriptSizing="dynamic">
    @if (labelText) {
      <mat-label>{{ labelText }}</mat-label>
    }
    <input type="number" [min]="minValueValidator" step="1" matInput formControlName="distance"
           placeholder="{{ 'widget-config.set' | translate }}">
    @if (subscriptSizing === 'fixed') {
      <mat-hint>{{ hintText }}</mat-hint>
    }
    @if (hasError) {
      <mat-error>
        {{ hasError }}
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field class="h-fit flex-full"
                  [class.max-w-33%]="!sameWidthInputs"
                  [appearance]="appearance"
                  [subscriptSizing]="subscriptSizing">
    <mat-label translate>rule-node-config.units</mat-label>
    <mat-select formControlName="distanceUnit">
      @for (distanceUnit of distanceUnits; track distanceUnit) {
        <mat-option [value]="distanceUnit">{{ distanceUnitTranslations.get(distanceUnit) | translate }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</section>
