@import "../../../scss/constants";

$previewSize: 100px !default;

:host {

  .tb-container {
    margin-top: 0;
    label.tb-title {
      display: block;
      padding-bottom: 8px;
    }
  }

  .tb-file-select-container {
    position: relative;
    width: 100%;
    height: $previewSize;
  }

  .tb-file-preview {
    width: auto;
    max-width: $previewSize;
    height: auto;
    max-height: $previewSize;
  }

  .tb-file-clear-container {
    position: relative;
    float: right;
    width: 48px;
    height: $previewSize;
  }

  .tb-file-clear-btn {
    position: absolute !important;
    top: 50%;
    transform: translate(0%, -50%) !important;
  }

  .file-input {
    display: none;
  }

  .tb-flow-drop {
    position: relative;
    height: $previewSize;
    overflow: hidden;
    border: dashed 2px;

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 16px;
      text-align: center;

      @media #{$mat-gt-sm} {
        font-size: 24px;
      }
    }
  }
}
