// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host ::ng-deep {
  .tb-help-markdown {
    overflow: auto;
    max-width: 80vw;
    max-height: 80vh;
    margin-top: 30px;
  }
  .tb-help-markdown.tb-markdown-view {
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        padding-top: 0;
      }
    }
  }
}
