:host {
  position: relative;

  .fill-height {
    height: 100%;
  }
}

.tb-json-content-toolbar {
  button.mat-button, button.mat-icon-button, button.mat-icon-button.tb-mat-32 {
    align-items: center;
    vertical-align: middle;
    min-width: 32px;
    min-height: 15px;
    padding: 4px;
    margin: 0;
    font-size: .8rem;
    line-height: 15px;
    color: #7b7b7b;
    background: rgba(220, 220, 220, .35);
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}

.tb-json-content-panel {
  height: 100%;
  margin-left: 15px;
  border: 1px solid #c0c0c0;

  #tb-json-input {
    width: 100%;
    min-width: 200px;
    height: 100%;

    &:not(.fill-height) {
      min-height: 200px;
    }
  }
}
