// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  #tb-json-view {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
    border: 1px solid #c0c0c0;

    &:not(.fill-height) {
      min-height: 100px;
    }
  }
}
