// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.tb-json-content {
  position: relative;

  &.fill-height {
    height: 100%;
  }

  &:not(.tb-fullscreen) {
    padding-bottom: 15px;
  }

  .tb-json-content-toolbar {
    button.mat-mdc-button-base, button.mat-mdc-button-base.tb-mat-32 {
      align-items: center;
      vertical-align: middle;
      min-width: 32px;
      min-height: 15px;
      padding: 4px;
      margin: 0;
      font-size: .8rem;
      line-height: 15px;
      color: #7b7b7b;
      background: rgba(220, 220, 220, .35);
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    button.mat-mdc-button-base:not(.mat-mdc-icon-button) {
      height: 23px;
    }
  }

  .tb-json-content-panel {
    height: 100%;
    border: 1px solid #c0c0c0;

    #tb-json-input {
      width: 100%;
      min-width: 200px;
      height: 100%;

      &:not(.fill-height) {
        min-height: 200px;
      }
    }
  }
}
