// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .tb-kv-map {
    span.no-data-found {
      position: relative;
      display: flex;
      height: 40px;

      &.disabled {
        color: rgba(0, 0, 0, .38);
      }
    }
  }
}
