:host-context(.login-logo) {
  img.tb-logo-title {
    width: 280px;
    height: 60px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transform: none;

    &:focus {
      outline: 0;
    }
  }
}
