// SPDX-FileCopyrightText: Copyright The ThingsBoard Authors
// SPDX-FileCopyrightText: Modifications Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: Apache-2.0 AND BUSL-1.1
:host {
  pointer-events: auto;
  a {
    border: none;
    color: currentColor;
    img {
      width: 100%;
      height: 100%;
    }
    ::ng-deep svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }
}

:host-context(.login-logo) {
  width: 280px;
  height: 60px;
  a {
    text-decoration: none;
    border: none;
    transform: none;

    &:focus {
      outline: 0;
    }
  }
}
