// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .mat-icon {
    &.icon-value {
      padding: 4px;
      margin: 12px 4px 4px;
      cursor: pointer;
      border: solid 1px rgba(0, 0, 0, .27);
      box-sizing: initial;
    }
  }
}
