:host {
  .mat-icon {
    padding: 4px;
    margin: 8px 4px 4px;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, .27);
  }
}

:host ::ng-deep {
  .mat-form-field-infix{
    width: 146px;
  }
}
