// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.tb-material-icons-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  .tb-material-icons-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }
  .tb-material-icons-title, .tb-material-icons-search {
    width: 100%;
  }
  .tb-material-icons-viewport {
    min-height: 144px;
  }
  .tb-material-icons-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .tb-material-icons-row + .tb-material-icons-row {
    margin-top: 12px;
  }
  .tb-no-data-available {
    min-height: 144px;
  }
  button.mat-mdc-button-base.tb-select-icon-button {
    width: 36px;
    min-width: 36px;
    height: 36px;
    padding: 6px;
    &:not(.mat-primary) {
      color: rgba(0, 0, 0, 0.54);
    }
    > .mat-icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
      margin: 0;
    }
  }
  .tb-material-icons-panel-buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    align-self: stretch;
  }
}
