<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field [formGroup]="messageTypeFormGroup" class="mat-block" [appearance]="appearance">
  <mat-label>{{ 'rulenode.message-type' | translate }}</mat-label>
  <input matInput type="text" placeholder="{{ 'rulenode.select-message-type' | translate }}"
         #messageTypeInput
         formControlName="messageType"
         (focusin)="onFocus()"
         [required]="required"
         [matAutocomplete]="messageTypeAutocomplete">
  @if (messageTypeFormGroup.get('messageType').value && !disabled) {
    <button
      type="button"
      matSuffix mat-icon-button aria-label="Clear"
      (click)="clear()">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  }
  <mat-autocomplete
    class="tb-autocomplete"
    #messageTypeAutocomplete="matAutocomplete"
    [displayWith]="displayMessageTypeFn">
    @for (messageType of filteredMessageTypes | async; track messageType) {
      <mat-option [value]="messageType">
        <span [innerHTML]="displayMessageTypeFn(messageType) | highlight:searchText"></span>
      </mat-option>
    }
  </mat-autocomplete>
  @if (messageTypeFormGroup.get('messageType').hasError('required')) {
    <mat-error>
      {{ 'rulenode.message-type-required' | translate }}
    </mat-error>
  }
</mat-form-field>
