// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.password-checklist-card {
  background-color: #0000009E;
  backdrop-filter: blur(8px);
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  position: relative;
  min-width: 220px;
  display: flex;
  gap: 8px;
  flex-direction: column;

  & > tb-icon {
    color: white;
  }

  & > p {
    margin: 0;
  }

  & > .tooltip-arrow {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #002b36;
  }
}
