<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="trigger"
             [cdkConnectedOverlayOpen]="isTooltipOpen"
             [cdkConnectedOverlayPositions]="overlayPositions">
  <div class="password-checklist-card">
    @for (rule of passwordErrorRules; track $index) {
      @if (!rule.policyProp || passwordPolicy[rule.policyProp] > 0) {
        <p class="mat-body flex text-sm">
          <tb-icon class="tb-mat-20">
            {{ checkForError(rule.key) ? 'mdi:close' : 'mdi:check' }}
          </tb-icon>
          {{ rule.translation | translate : passwordPolicy }}
        </p>
      }
    }
    <div class="tooltip-arrow"></div>
  </div>
</ng-template>
