<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<form [formGroup]="phoneFormGroup">
  <div class="phone-input-container">
    @if (showFlagSelect) {
      <div class="flags-select-container">
        @if (!isLoad) {
          <span class="flag-container">{{ flagIcon }}</span>
        }
        @if (isLoad) {
          <mat-spinner diameter="20" class="flag-loader"></mat-spinner>
        }
        <mat-select class="country-select" formControlName="country">
          @for (country of allCountries; track country) {
            <mat-option [value]="country.iso2">
              <span style="font-size: 20px;">{{country.flag}}</span>
              <span>{{' ' + country.name + ' +' + country.dialCode }}</span>
            </mat-option>
          }
        </mat-select>
      </div>
    }
    <mat-form-field class="phone-input" [appearance]="appearance" [floatLabel]="floatLabel" subscriptSizing="dynamic">
      <mat-label>{{ label }}</mat-label>
      <input
        formControlName="phoneNumber"
        type="tel"
        matInput
        placeholder="{{ placeholder }}"
        (focus)="focus()"
        autocomplete="off"
        [required]="required">
      <mat-hint innerHTML="{{ hint | translate: {phoneNumber: phonePlaceholder} }}"></mat-hint>
      @if (phoneFormGroup.get('phoneNumber').hasError('required')) {
        <mat-error>
          {{ requiredErrorText }}
        </mat-error>
      }
      @if (phoneFormGroup.get('phoneNumber').hasError('invalidPhoneNumber')) {
        <mat-error>
          {{ validationErrorText }}
        </mat-error>
      }
    </mat-form-field>
  </div>
</form>
