<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<form [formGroup]="phoneFormGroup">
  <div class="phone-input-container">
    <div class="flags-select-container" *ngIf="showFlagSelect">
      <span class="flag-container" *ngIf="!isLoad">{{ flagIcon }}</span>
      <mat-spinner diameter="20" class="flag-loader" *ngIf="isLoad"></mat-spinner>
      <mat-select class="country-select" formControlName="country">
        <mat-option *ngFor="let country of allCountries" [value]="country.iso2">
          <span style="font-size: 20px;">{{country.flag}}</span>
          <span>{{' ' + country.name + ' +' + country.dialCode }}</span>
        </mat-option>
      </mat-select>
    </div>
    <mat-form-field class="phone-input" [appearance]="appearance" [floatLabel]="floatLabel" subscriptSizing="dynamic">
      <mat-label>{{ label }}</mat-label>
      <input
        formControlName="phoneNumber"
        type="tel"
        matInput
        placeholder="{{ placeholder }}"
        (focus)="focus()"
        autocomplete="off"
        [required]="required">
      <mat-hint innerHTML="{{ 'phone-input.phone-input-hint' | translate: {phoneNumber: phonePlaceholder} }}"></mat-hint>
      <mat-error *ngIf="phoneFormGroup.get('phoneNumber').hasError('required')">
        {{ 'phone-input.phone-input-required' | translate }}
      </mat-error>
      <mat-error *ngIf="phoneFormGroup.get('phoneNumber').hasError('invalidPhoneNumber')">
        {{ 'phone-input.phone-input-validation' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
