// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
.mat-button-toggle-group.tb-script-lang-toggle-group {
  width: 320px;
  &.mat-button-toggle-group-appearance-standard {
    border: none;
    border-radius: 18px;
    .mat-button-toggle+.mat-button-toggle {
      border-left: none;
    }
  }
  .mat-button-toggle {
    --mat-button-toggle-disabled-selected-state-background-color: rgba(0, 0, 0, 0.06);
    background: rgba(0, 0, 0, 0.06);
    height: 36px;
    align-items: center;
    display: flex;
    .mat-button-toggle-ripple {
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 16px;
    }
  }
  .mat-button-toggle-button {
    color: #959595;
  }
  .mat-button-toggle-focus-overlay {
    border-radius: 16px;
    margin: 2px;
  }
  .mat-button-toggle-checked .mat-button-toggle-button {
    background-color: #305680;
    color: #fff;
    border-radius: 16px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .mat-button-toggle-appearance-standard {
    .mat-button-toggle-label-content {
      line-height: 32px;
      font-size: 16px;
      font-weight: 500;
      .mat-pseudo-checkbox {
        display: none;
      }
    }
  }
  .mat-button-toggle-checked.mat-button-toggle-appearance-standard:not(.mat-button-toggle-disabled):hover .mat-button-toggle-focus-overlay {
    opacity: .01;
  }
  .mat-button-toggle-appearance-standard.mat-button-toggle-disabled:hover .mat-button-toggle-focus-overlay {
    opacity: 0;
  }
  .mat-button-toggle-disabled {
    opacity: 0.6;
  }
}
