// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  mat-form-field {
    display: flex;
    flex: 1;
    max-width: 100%;
    box-sizing: border-box;

    &.tb-inline-field {
      .mdc-icon-button {
        margin-right: 8px;
      }
    }
  }
}
