<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<tb-toggle-header
  [class.fill-height]="fillHeight"
  ignoreMdLgSize="true"
  useSelectOnMdLg="false"
  [disabled]="disabled"
  [appearance]="appearance"
  [fillHeight]="fillHeight"
  [extraPadding]="extraPadding"
  [primaryBackground]="primaryBackground"
  [disablePagination]="disablePagination"
  [selectMediaBreakpoint]="selectMediaBreakpoint"
  [options]="options"
  [value]="modelValue"
  (valueChange)="updateModel($event)">
</tb-toggle-header>
