<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<button #menuButton #menuPopoverFull="tbPopover" mat-button class="tb-user-menu" [class.tb-collapsed]="collapsed"
        (click)="$event.stopPropagation();"
        tb-popover
        tbPopoverTrigger="click"
        [tbPopoverMenu]="true"
        [tbPopoverContent]="userMenuTpl"
        [tbPopoverOverlayClassName]="collapsed ? 'tb-user-menu-collapsed' : ''"
        [tbPopoverPlacement]="collapsed ? 'right' : 'topLeft'">
  <tb-icon class="material-icons tb-mini-avatar">mdi:account-circle-outline</tb-icon>
  <div class="tb-user-info">
    @if (userDisplayName$ | async; as userDisplayName) {
      <span class="tb-user-display-name">{{ userDisplayName }}</span>
    }
    @if (authorityName$ | async; as authorityName) {
      <span class="tb-user-authority">{{ authorityName | translate }}</span>
    }
  </div>
</button>
<button #menuPopoverIcon="tbPopover" mat-icon-button class="tb-user-menu-icon"
        (click)="$event.stopPropagation();"
        tb-popover
        tbPopoverTrigger="click"
        [tbPopoverMenu]="true"
        [tbPopoverContent]="userMenuTpl"
        [tbPopoverPlacement]="'bottomRight'">
  <tb-icon class="material-icons tb-mini-avatar">mdi:account-circle-outline</tb-icon>
</button>
<ng-template #userMenuTpl>
  @if (authority$ | async; as authority) {
    <div class="tb-menu-content tb-user-menu-items" [style.width.px]="!collapsed ? menuButton?._elementRef?.nativeElement?.offsetWidth : ''">
      <div class="tb-user-email">
        {{ userEmail$ | async }}
      </div>
      <button mat-button (click)="menuPopoverFull?.hide(); menuPopoverIcon?.hide(); openAccount()">
        <tb-icon matButtonIcon>mdi:account-circle-outline</tb-icon>
        <span translate>account.account</span>
      </button>
      <button mat-button class="tb-logout" (click)="menuPopoverFull?.hide(); menuPopoverIcon?.hide(); logout()">
        <tb-icon matButtonIcon>logout</tb-icon>
        <span translate>home.logout</span>
      </button>
    </div>
  }
</ng-template>
