// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .tb-boolean-input {
    min-width: 210px;
  }
}

:host ::ng-deep {
  .mat-mdc-form-field.tb-value-type {
    &.row {
      width: 140px;
      min-width: 140px;
    }
    &.column {
      flex: 1;
      width: auto;
    }
    .mat-mdc-form-field-infix {
      max-height: 40px;
    }
    mat-select-trigger {
      .tb-value-type-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        .mat-icon {
          color: rgba(0, 0, 0, 0.38);
          vertical-align: bottom;
        }
      }
    }
  }
}
