:host ::ng-deep {
  mat-form-field.tb-value-type {
    .mat-form-field-infix {
      padding-bottom: 1px;
    }
    mat-select-trigger {
      .mat-icon {
        vertical-align: middle;
        margin-right: 16px;
      }
    }
  }
}
