<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field class="mat-block" [appearance]="appearance">
  <mat-select [required]="required"
              [disabled]="disabled"
              [(ngModel)]="widgetsBundle"
              panelClass="tb-widgets-bundle-select"
              placeholder="{{ 'widget.select-widgets-bundle' | translate }}"
              (blur)="onTouched()"
              [compareWith]="compareById"
              (ngModelChange)="widgetsBundleChanged()">
    <mat-select-trigger>
      <div class="tb-bundle-item">
        <span>{{widgetsBundle?.title}}</span>
        @if (isSystem(widgetsBundle)) {
          <span translate class="tb-bundle-system">widgets-bundle.system</span>
        }
      </div>
    </mat-select-trigger>
    @if (createNew) {
      <mat-option [value]="null" (click)="openWidgetsBundleDialog($event)">
        <a translate>widgets-bundle.create-new</a>
      </mat-option>
    } @else {
      @if (!required) {
        <mat-option [value]="null"></mat-option>
      }
    }
    @for (widgetsBundle of widgetsBundles$ | async; track widgetsBundle) {
      <mat-option [value]="widgetsBundle">
        <div class="tb-bundle-item">
          <span>{{widgetsBundle.title}}</span>
          @if (isSystem(widgetsBundle)) {
            <span translate class="tb-bundle-system">widgets-bundle.system</span>
          }
        </div>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
