<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Black-box tests">
    <test verbose="2" name="Connectivity tests" preserve-order="false">
        <packages>
            <package name="org.thingsboard.server.msa.connectivity" />
        </packages>
    </test>
</suite>