<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<mat-form-field [formGroup]="resourceFormGroup"
                [class]="{'tb-inline-field': inlineField, 'flex': inlineField}"
                class="mat-block"
                [appearance]="inlineField ? 'outline' : appearance"
                [hideRequiredMarker]="hideRequiredMarker"
                [subscriptSizing]="inlineField ? 'dynamic' : subscriptSizing">
  <input matInput type="text"
         #resourceInput
         formControlName="resource"
         (focusin)="onFocus()"
         [placeholder]="placeholder"
         [required]="required"
         [matAutocomplete]="entityAutocomplete"
         [matAutocompleteDisabled]="!allowAutocomplete">
  <button *ngIf="resourceFormGroup.get('resource').value && !disabled"
          type="button"
          matSuffix mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <mat-autocomplete class="tb-autocomplete"
                    #entityAutocomplete="matAutocomplete"
                    [displayWith]="displayResourceFn">
    <mat-option *ngFor="let resource of filteredResources$ | async" [value]="resource">
      <span [innerHTML]="resource.title | highlight:searchText"></span>
    </mat-option>
    <ng-container *ngIf="subType !== ResourceSubType.EXTENSION; else extensionNoText">
      <mat-option *ngIf="!(filteredResources$ | async)?.length" [value]="null">
        <div (click)="$event.stopPropagation()">
          <div *ngIf="!textIsNotEmpty(searchText); else searchNotEmpty">
            <span>{{ 'js-func.no-js-module-text' | translate }}</span>
          </div>
          <ng-template #searchNotEmpty>
          <span>
              {{ 'js-func.no-js-module-matching' | translate: {module: searchText | truncate: true: 6: &apos;...&apos;} }}
          </span>
          </ng-template>
        </div>
      </mat-option>
    </ng-container>
    <ng-template #extensionNoText>
      <mat-option *ngIf="!(filteredResources$ | async)?.length" [value]="searchText">
        {{ searchText }}
      </mat-option>
    </ng-template>
  </mat-autocomplete>
</mat-form-field>
