// SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
// SPDX-License-Identifier: BUSL-1.1
@import '../scss/constants';

.tb-task-info-panel {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 24px);
  @media #{$mat-xs} {
    width: 80vw;
  }
  .tb-task-info-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }
  .tb-task-info-panel-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: -8px;
    padding: 8px;
    --mat-divider-color: rgba(0, 0, 0, 0.1);
    &.general-error {
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      padding: 12px;
      height: 120px;
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      letter-spacing: 0.24px;
      line-height: 16px;
      text-align: center;
      mat-icon {
        color: #D12730;
      }
    }


    .metrics {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.25px;

      .success {
        color: #198038
      }

      .failed {
        color: #D12730
      }

      &.info {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.54);
        word-break: break-word;
      }
    }

    .task-result-bg {
      background: rgba(0, 0, 0, 0.04);
      .warn {
        color: #FAA405;
      }
    }

    .table-error {
      overflow: hidden;
      padding: 8px 10px 8px 4px;
      &:before {
        display: block;
        height: auto;
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 4px;
        border: 1px solid var(--tb-primary-500);
        background: transparent;
        opacity: 0.4;
        pointer-events: none;
      }

      td {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-style: normal;
        &.tb-entity-type {
          white-space: nowrap;
          padding-right: 20px;
          font-weight: 500;
          &:before {
            content: "•";
            padding-left: 8px;
            padding-right: 8px;
          }
        }
        &.tb-entity-name {
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          max-width: 0;
        }
      }

      a.tb-reference {
        color: var(--tb-primary-500);
        font-weight: inherit;
      }
    }
  }
}
