// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .mat-mdc-card.auto-commit-settings {
    margin: 8px;
    .mat-divider {
      position: relative;
    }
  }
  .fields-group {
    padding: 0 16px 8px;
    margin-bottom: 10px;
    border: 1px groove rgba(0, 0, 0, .25);
    border-radius: 4px;

    legend {
      color: rgba(0, 0, 0, .7);
      width: fit-content;
    }

    legend + * {
      display: block;
      margin-top: 16px;
    }
  }

  .tb-prompt {
    margin: 30px 0;
  }

  mat-expansion-panel.entity-type-config {
    box-shadow: none;
    border: 1px groove rgba(0, 0, 0, .25);
    .mat-expansion-panel-header {
      padding: 0 24px 0 8px;
      height: 48px;
    }
    .entity-type-config-content {
      padding: 0 8px 8px;
      tb-branch-autocomplete {
        min-width: 200px;
        display: block;
      }
    }
  }
}

:host ::ng-deep {
  .mat-expansion-panel.entity-type-config {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}

