// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../scss/constants';

:host {
  width: 100%;
  height: 100%;
  display: block;
  .tb-entity-table {

    &.tb-popover-mode {
      position: relative;
      width: 800px;
      height: 600px;
    }

    .tb-entity-table-content {
      width: 100%;
      height: 100%;
      background: #fff;
      overflow: hidden;

      &.tb-outlined-border {
        box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
        border: solid 1px #e0e0e0;
        border-radius: 4px;
      }

      .mat-toolbar-tools{
        min-height: auto;
      }

      .title-container{
        overflow: hidden;
      }

      .tb-entity-table-title {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .table-container {
        overflow: auto;
      }

      .tb-entity-table-info{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .button-widget-action{
        margin-left: auto;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media #{$mat-xs} {
    .mat-toolbar {
      height: auto;
      min-height: 100px;

      .tb-entity-table-title{
        padding-bottom: 5px;
        width: 100%;
      }
    }
  }
}
