// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import '../../../../../scss/constants';

.entity-version-diff-view {
  position: relative;
  &:not(.tb-fullscreen) {
    max-height: 95vh;
    &.content-ready {
      width: 600px;
      @media #{$mat-gt-sm} {
        width: 800px;
      }
      @media #{$mat-gt-md} {
        width: 1000px
      }
      @media #{$mat-gt-xmd} {
        width: 1200px
      }
    }
  }
  &.tb-fullscreen {
    height: 100%;
    background: #fff;
    .bottom-panel {
      margin-bottom: 16px;
    }
  }
  .mat-toolbar {
    background: #fff;
    .mat-divider-vertical {
      height: 40px;
      margin-right: 16px;
      margin-left: 16px;
      @media #{$mat-xs} {
        margin-right: 8px;
        margin-left: 8px;
      }
    }
    .diff-count {
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .version-title {
    margin-left: 4px;
  }
  .diff-viewer {
    position: relative;
    border: 1px solid #c0c0c0;
    margin-top: 4px;
    margin-bottom: 16px;
    .acediff__diffLine {
      z-index: 1;
    }
  }
}
