<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
@if (!(hasRepository$ | async)) {
  <tb-repository-settings #repositorySettingsComponent
                          [detailsMode]="detailsMode"
                          hideLoadingBar
                          [popoverComponent]="popoverComponent"
                          >
  </tb-repository-settings>
} @else {
  <tb-entity-versions-table [singleEntityMode]="singleEntityMode"
                            [popoverComponent]="popoverComponent"
                            [onBeforeCreateVersion]="onBeforeCreateVersion"
                            [active]="active"
                            [entityId]="entityId"
                            [entityName]="entityName"
                            [externalEntityId]="externalEntityId"
  (versionRestored)="versionRestored.emit()"></tb-entity-versions-table>
}
