// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
:host {
  .vc-result-message {
    max-width: 65vw;
    max-height: 65vh;
    padding: 0 8px;
    text-align: center;
    word-wrap: break-word;
    overflow: auto;
    &:first-child {
      padding-top: 48px;
    }
    &:nth-last-child(2) {
      padding-bottom: 8px;
    }
    &.error {
      text-align: start;
      font-weight: 400;
    }
    &.progress {
      padding-bottom: 32px;
    }
  }
}
